[2021-02-22 11:44] tomvandig opened #1 "Boolean geometry does not use spatial acceleration structure"
Right now bool geometry is just doing a quadratic loop over all triangle pairs during intersection and inside/outside checks, this is fine for smaller meshes but quickly becomes problematic for larger ones.

Use BVH or similar as a first patch.

[2021-03-07 22:48] agviegas opened #4 "Retrieve IFC data by ExpressID"
Currently, the library is able to generate geometry based on an IFC. However, in almost all use cases it will be necessary to be able to access the data associated with each instance.

Probably the simplest way to do this would be to create an endpoint that has an ExpressID as input and returns a javascript object / dictionary with the retrieved properties. This presents two problems: how the user

[2021-03-09 00:09] agviegas opened #5 "Extra faces in extrusions with holes"
The current implementation of extrusions with holes looked correctly on simple meshes, but a look at a more complicated mesh demonstrates that there is a problem: there are extra faces in the direction of the extrusion.

![image](https://user-images.githubusercontent.com/56475338/110398203-ac956b80-8073-11eb-941c-cf41b2b8f276.png)

My guess is that this has something to do with the determination o

[2021-03-09 18:54] agviegas opened #6 "npm run start in Benchmark: module.Init() is not a function"
When starting the benchmark code, the following error appears in the console. This might be due to the last changes in the API. This project is clean (no changes have been made).

[code]

[2021-03-10 08:31] pablo-mayrgundter opened #8 "Additional prereqs for build"
1) Typescript needs to be installed
2) Need to install node type defs.  Got this error:

[code]

The suggested fix worked.

[2021-03-10 08:34] pablo-mayrgundter opened #9 "npm run dev fails"
After successful build, I run the suggested dev server, which ends in error below

[code]

[2021-03-10 12:57] tomvandig commented on #9
Hi,

Thanks for reporting this issue!

I've tried to reproduce this issue with the latest commit, and I was able to execute `npm run dev` successfully after following the readme instructions. I had some errors in there which I fixed just now, so hopefully you will be able to run it if you update to the latest commit.

Let me know if you still have this issue on the latest commit.

Thanks!

[2021-03-10 13:02] tomvandig commented on #8
Hi,

Thanks for posting this issue!

The instructions were missing the `npm install` command, I've added this just now.
The package.json includes "typescript": "^4.1.5" as a dev-dependency, so this should be fine.

On my local machine I don't need the node type defs, and I don't appear to have it installed globally.

Could you try again on the latest commit?

Thanks!

[2021-03-10 18:44] pablo-mayrgundter commented on #9
Ok, seems to fixed it. Thanks!

[2021-03-10 18:44] #9 closed

[2021-03-10 18:49] pablo-mayrgundter commented on #8
Looks good.  Yeah, I have a few npms around.. global, brew and most locally for your project from emsdk.

[2021-03-10 18:49] #8 closed

[2021-03-11 12:45] haroldiedema opened #11 "Loading this model segfaults the browser."
Uploading this model (http://iedema.me/crash.ifc) in the example viewer that is linked in the readme crashes the browser. I thought this might be helpful debugging IFC-support.

![image](https://user-images.githubusercontent.com/567518/110788993-a4098480-826f-11eb-9a07-0387fb63b7ef.png)

[2021-03-11 12:50] haroldiedema commented on #5
I have a similar model here (https://iedema.me/haus.ifc) which shows similar artifacts. This model comes from a wikipedia source and is free to use / used as an example IFC file.

![image](https://user-images.githubusercontent.com/567518/110789949-bafca680-8270-11eb-8756-188d36dd47e1.png)

My guess is that earcut might be a culprit here.

[2021-03-11 16:27] tomvandig commented on #11
Thanks for reporting this, interesting that it crashes the tab!

I've fixed the particular crash, and supported some extra unsupported elements in the file. You can try it out here:

https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-03-11 23:28] haroldiedema commented on #11
Nice! That was quick :smile:

Tested & verified. Works as intended now!

[2021-03-12 09:36] haroldiedema commented on #4
@agviegas Just an idea, but wouldn't it be easier to _only_ have an `expressId` exposed on the generated geometry, for example in Three's `userData` object?

Writing a parser to extract metadata from IFC files ourselves isn't such a big deal after all, and you'd let the user of this library decide for themselves how to implement this. This way you don't have to worry about memory management. Or pe

[2021-03-12 09:37] LaurensJN opened #13 "Support for IFCPOLYGONALFACESET"
Hi! I was checking out the wonderful new approach and tried to load some IFC files. Very fast indeed!

I got one error in a file, turns out we use IFCPOLYGONALFACESET a lot here. I think they are not supported yet, I got the error _Unexpected mesh type: 2839578677 at line ..._

Do you think you will be able to support that soon? I could provide you with an IFC file if you want an example.

[2021-03-12 19:57] agviegas commented on #5
Hey @haroldiedema I think that your case is a different problem. What happens in my model is that the extrusion is generating extra faces in the direction normal to the extrusion profile. In your case, it looks like there was a huge problem with the CSG operations. Can you handle us that model to take a look? Also, bringing this to a separate issue would be great!

[2021-03-12 20:01] agviegas commented on #4
@haroldiedema our guess is that having an endpoint that gets an ExpressID and returns a JS object with the data of that entity is easy enough for a first try. Then, the consumer of the library can use this endpoint recursively to get all the information they want. Let's see how it goes; if it gets to complex or in the future we find that it can't be scaled, moving it out to a separate repository i

[2021-03-12 21:13] #11 closed

[2021-03-15 07:07] sabromeo opened #15 "Parsing Error"
Had the following Error when Uploading this file:

https://drive.google.com/file/d/1bGCoofdHHJghlyD9fA1U20IvCxO5VJOk/view?usp=sharing

![](https://media.discordapp.net/attachments/799990228336115745/820854041361776730/unknown.png)

[2021-03-15 07:25] tomvandig commented on #15
Hi.

Thank you for reporting this issue!

This file seems to work on https://tomvandig.github.io/web-ifc/examples/viewer/index.html

I see in the error message you were working with IFC.js. I think the IFC.js repository is simply out of date. We will update it when there is time.

![image](https://user-images.githubusercontent.com/49716596/111117413-c5b48580-8567-11eb-9a41-c39b5ff634a2.png)

[2021-03-15 10:31] harrycollin opened #16 "What is the best way to report missing geometry?"
I've been testing different models and have found a couple of geometry bugs. What's the best way to report them? Thanks :)

![image](https://user-images.githubusercontent.com/10602138/111139853-8b53e400-8579-11eb-9fa8-18b743c7d53e.png)

[2021-03-15 12:50] haroldiedema commented on #5
Will do :+1:

[2021-03-15 12:52] haroldiedema opened #17 "CSG errors on IFC example model"
As per request from @agviegas, created a separate issue for this. The original model comes from an IFC wikipedia page and is used as an 'example' model. It seems that _a lot_ of vertices are generated which are not needed.

You can download the model here: https://iedema.me/haus.ifc

![image](https://user-images.githubusercontent.com/567518/111156021-8c930a00-8595-11eb-9a73-f3e9019356c2.png)

[2021-03-15 19:48] tomvandig commented on #17
Hi,

Thanks for posting this issue!

I was rolling a handmade CSG lib, but it's been a pain so I've decided to migrate to another CSG lib. Hopefully this one will last longer 👍

The attached model now looks like this:
![image](https://user-images.githubusercontent.com/49716596/111212169-90dc1900-85cf-11eb-989e-5e9578607a57.png)

There's a small remaining issue with the windows, as each of the void

[2021-03-15 19:51] tomvandig commented on #16
Hi Harry,

Thanks for your interest in this lib!

For the specific model above: we're also testing it and we'll get around to each problem at some point :)

However, for your general question: please open individual tickets with the model and broken element GUIDs, this way I can most quickly get to solving the problems.

Also, please check the latest version of the lib always, that saves me some t

[2021-03-15 19:52] #6 closed

[2021-03-15 19:59] tomvandig commented on #13
Hi Laurens,

Thanks for your interest in the project.

IFCPOLYGONALFACESET does not look particularly complicated, so I think it would be good idea indeed.
If you provide me with an example model, I will try to get back to you as soon as I can!

Cheers,
Tom

[2021-03-16 07:48] LaurensJN commented on #13
Thanks Tom! I contacted you on discord to send you the file.

[2021-03-16 08:14] agviegas commented on #15
Hey, I have updated IFC.js. It should be using the last version now. Let us know if that works!
![image](https://user-images.githubusercontent.com/56475338/111276726-eea44b80-8637-11eb-9b5f-d1974096b9f9.png)

[2021-03-16 11:37] harrycollin commented on #16
Thank you

[2021-03-16 11:37] #16 closed

[2021-03-16 18:53] tomvandig commented on #1
Ended up using a bool lib 👍

[2021-03-16 18:53] #1 closed

[2021-03-17 07:21] #5 closed

[2021-03-17 07:23] tomvandig commented on #4
First version of this was added in 1504db6709dc73059a0c1cc1aa345c707e01d571
Example can be seen in https://github.com/tomvandig/web-ifc/blob/d35afe73a960fac018c4b50d1ea509bf0460de00/examples/nodejs/index.js#L23

Some work still needs to happen to make it more user friendly, but the general idea is there.
Will keep this issue open until it is more complete.

[2021-03-17 08:08] haroldiedema commented on #17
This looks pretty much the same as when I used this model using the CLI tool (ifc-convert) to convert the model to a COLLADA file. The z-fighting in the roof and beams were also there :smile:

Looks good! :tada:

[2021-03-17 09:08] #17 closed

[2021-03-17 15:44] tomvandig commented on #13
![image](https://user-images.githubusercontent.com/49716596/111495646-dfa8c080-873f-11eb-8b06-c323f923106a.png)

Example deploy should have a first go at IFCPOLYGONALFACESET, please let me know if it shows the expected results :)

[2021-03-17 16:08] LaurensJN commented on #13
Thank you very much! This is perfect.

[2021-03-17 16:08] #13 closed

[2021-03-20 14:24] ThomasTJdev opened #18 "Not able to load IFC-file, possible due to `Unexpected profile type`"
Big congrats on the library - this is really awesome!! I have been testing the lib with the PR at threejs (https://github.com/mrdoob/three.js/pull/20598), but I can only get the example IFC-files to load.  I have tried with some of my other IFC files, but with no luck. These are files works when converted from IFC to gTLF.

When importing a file, this is the result from `console.log`:
<details>
 <

[2021-03-20 20:23] #15 closed

[2021-03-22 22:58] agviegas commented on #18
Thanks @ThomasTJdev! We will implement IfcIShapeProfileDefs these days. We don't need additional information; once we make the first step, we will let you know to see if it's solved.

[2021-03-28 08:15] craigliesinger opened #19 "windows and doors not rendering properly"
Using web-ifc in Angular app - loading IFC file from Firebase.  All seems to go well, except windows and doors from model not rendering properly:
![Screen Shot 2021-03-27 at 9 02 48 PM](https://user-images.githubusercontent.com/10994930/112746279-15567080-8fae-11eb-8ae5-513f8895ba5f.png)

Example of screenshot from same model in other application:
![Screen Shot 2021-03-27 at 9 02 41 PM](https://us

[2021-04-06 17:22] ikeough opened #20 "Does this library contain the full IFC object model?"
I've been following the development of @agviegas' [web IFC viewer](https://github.com/agviegas/web-ifc-viewer), and was wondering whether it supported the entire IFC object model, or just the geometric representations. I was linked through from that repo to here and took a poke around and couldn't find an implementation of the object model. Is that something that someone is currently working on?

[2021-04-06 17:33] ikeough commented on #20
Seems like the object model is described in https://github.com/tomvandig/web-ifc/blob/main/src/schema/ifc4-elements.json, and this is somehow referenced by the wasm-compiled C++. I believe I've answered my own question :)

[2021-04-06 17:33] #20 closed

[2021-04-06 18:19] tomvandig commented on #20
Hi Ian!

This is something I'm currently working on in the export branch. It's WIP right now, but I intend to support the entire 4.2 schema as javascript objects. Specifics on how to use it are pending, but essentially I want to make read/write on every IFC type as easy as possible.

The file you linked was used originally, but will be phased out soon.

I will close [this issue](https://github.com

[2021-04-16 13:36] MauroLemmens opened #21 "IFC file doesnt load correctly"
When I open a IFC file into the model loader it shows like this:
![afbeelding](https://user-images.githubusercontent.com/67467107/115032233-6250a700-9ec9-11eb-9f1c-01314a6e95c9.png)

and it should look like this:
![afbeelding](https://user-images.githubusercontent.com/67467107/115032252-68468800-9ec9-11eb-8d58-85749148e406.png)

What can I do to let it load correctly?

[2021-04-18 10:04] agviegas commented on #21
Hey, can you provide link to the file to check it?

[2021-04-18 12:21] MenderBlender commented on #21
IFC file: [miniproject.zip](https://github.com/tomvandig/web-ifc/files/6331204/miniproject.zip)
Thanks for helping!

[2021-04-20 13:11] MenderBlender commented on #21
Hey, did you find what the problem is? I tried different IFC files and they also have missing parts.

[2021-04-20 13:36] agviegas commented on #21
Hey, I've managed to reproduce it on my end, so we'll correct it eventually. As you know, this is not a finished library. We're investing all the time we have in moving forward, but I can't tell you when we'll be able to have this problem solved. Don't think we've ignored this issue, but it's not the only thing on the todo list!

[2021-04-20 16:43] agviegas opened #22 "Make the WASM location configurable"
So far we have been working on the assumption that the WASM file is in the root directory of the project. However, this may not always be the case, and it would be interesting if the user could define where their WASM file is. I've had to set this up by hand for the Three.js IFC Loader, and I think it would be interesting to incorporate it into web-ifc.

The path to the WASM file resides in the `w

[2021-04-21 08:00] IDONKN opened #23 ""this.wasmModule.OpenModel is not a function" Not sure why, I use npm to install web-ifc"
IFCLoader.js?42f0:55 TypeError: this.wasmModule.OpenModel is not a function
    at IfcAPI.OpenModel (VM2034 web-ifc-api.js:4789)
    at _callee2$ (VM2033 IFCLoader.js:156)
    at tryCatch (runtime.js?6a61:63)
    at Generator.invoke [as _invoke] (runtime.js?6a61:293)
    at Generator.eval [as next] (runtime.js?6a61:118)
    at asyncGeneratorStep (VM2033 IFCLoader.js:9)
    at _next (VM2033 IFCLoad

[2021-04-21 14:35] mrdoob opened #24 "LGTM warnings"
We use [lgtm](https://lgtm.com/) in three.js and we've noticed `web-ifc-api.js` has a few warnings:
https://lgtm.com/projects/g/mrdoob/three.js/snapshot/0d37b6de513cc0e33ff7184594bce9b821509152/files/examples/jsm/loaders/ifc/web-ifc-api.js?sort=name&dir=ASC&mode=heatmap

[2021-04-21 21:05] agviegas commented on #23
Hey, we need more information to solve this. What are you trying to do? Are you using any of the other repositories? Did you looked at the [docs](https://agviegas.github.io/ifcjs-docs/#/)?

[2021-04-21 21:35] agviegas commented on #24
That code is automatically generated by emscripten. It looks like they're just unused variables and redundant boolean evaluations.  We'll clean it up programatically to get rid of those warnings!

[2021-04-23 22:07] agviegas commented on #24
Hey, I've tried to rectify the issues but it doesn't work. Apparently, even though there are unused variables and dubious boolean expressions, WASM needs this code the way Emscripten generates it. I'm not happy with this, but I guess that fiddling with this auto-generated code is not an option.

![image](https://user-images.githubusercontent.com/56475338/115933757-d96cd900-a48f-11eb-8c5e-42b4d01d9

[2021-05-01 15:21] ThomasTJdev commented on #18
I have tested various other IFC files and I got another `Unexpected profile type`:
[code]

[2021-05-01 15:24] agviegas commented on #18
Thanks for the notice! I'm finishing geometry optimization this weekend, and this issues with the profiles are the next bullet in my list!

[2021-05-06 04:59] mrdoob commented on #24
I think using LGTM's alert suppression comments should work 👍

[2021-05-06 20:21] #24 closed

[2021-05-09 15:29] vegarringdal opened #26 "Error messages that can help you more"
First of all, thank you for making this, awesome work guys 👍 🥇

Ive added error messages I see when trying to convert xkt
https://github.com/xeokit/xeokit-ifc-to-xkt#readme

Is there any way to activate better error messages I can give you to help ?
My biggest issue is that I cant share the models I use since Im not the owner. But if it was able to extract the issue lines better then Im sure I wou

[2021-05-10 14:28] vegarringdal opened #27 "IFC not rendering correctly"
I can send sample files on discord in a PM

**With web-ifc I get this:**
1
![image](https://user-images.githubusercontent.com/2901416/117673617-3a442300-b1ab-11eb-872d-bc38933d4948.png)

2 (overlook the red color)
![image](https://user-images.githubusercontent.com/2901416/117674854-53999f00-b1ac-11eb-89dd-b5a5e78d536f.png)

**In blender:**
1
![image](https://user-images.githubusercontent.com/29014

[2021-05-11 21:12] harrycollin opened #28 "Module not found: Can't resolve 'fs'"
I've been encountering this issue where 'fs' is trying to be used. I'm using NextJS and was able to fix it using some config mentioned [here](https://maikelveen.com/blog/how-to-solve-module-not-found-cant-resolve-fs-in-nextjs). I'm not sure if this should be fixed here or if it's up to the end-user to do it.

![image](https://user-images.githubusercontent.com/10602138/117884953-2250ca00-b2a5-11eb-

[2021-05-17 20:44] richardgush opened #29 "Geometry view issue"
Hi Tom, I converted one of the Revit example files to ifc and there is a small geometry issue in the ifc.js viewer.

[1621203160635-rstbasicsampleproject.ifc.zip](https://github.com/tomvandig/web-ifc/files/6496795/1621203160635-rstbasicsampleproject.ifc.zip)

[2021-05-19 11:09] craigliesinger opened #30 "cannot find module ./ifc2x4 and ./ifc2x4_helper"
I'm trying to upgrade from 0.0.17 to 0.0.18 and I get the following error when trying to serve:

Error: node_modules/web-ifc/web-ifc-api.d.ts:1:15 - error TS2307: Cannot find module './ifc2x4' or its corresponding type declarations.

1 export * from "./ifc2x4";
[code]

[2021-05-19 12:12] htlcnn opened #31 "Geometries are not displayed properly"
ping @agviegas
I have two models attached.

[model1.zip](https://github.com/tomvandig/web-ifc/files/6508542/model1.zip)
[model2.zip](https://github.com/tomvandig/web-ifc/files/6508545/model2.zip)

I opened them with IFC.js. Some geometries were not displayed, or not displayed properly. I use BlenderBIM addon to compare visually. Here are some images:

## Model 1

**IFC.js**
![image](https://user-i

[2021-05-19 15:59] tomvandig commented on #4
With the integration of the export branch, I consider this closed. Improvement suggestions to the current solution are of course welcome, please add new issues if needed.

[2021-05-19 15:59] #4 closed

[2021-05-20 00:53] xeolabs commented on #22
I wonder if there is a way to actually bundle/encapsulate ````web-ifc.wasm```` *inside* ````web-ifc-api.js```` and ````web-ifc-api-node.js````?

[2021-05-20 07:44] agviegas commented on #31
Hey, in the console there must be some warnings about the geometries that we haven't implemented yet (pressing F12). We'll implement them asap!

[2021-05-20 07:56] agviegas commented on #22
I wish there was a way, it would be definitely cleaner 🤔 But as far as I know, the WASM file is not interpreted the same way as JS (they are precompiled), so I suspect that for that we need to do a couple of reverse-engineering hacks (e. g. generate the WASM file in runtime). Would this runtime-generation be worth for eliminating the wasm file? Honestly, I have no idea.

[2021-05-20 08:14] vegarringdal commented on #22
have a look at this:

https://github.com/mrdoob/three.js/blob/dev/examples/jsm/libs/meshopt_decoder.module.js#L8-L15

isnt the wasm code here ?

[2021-05-20 11:29] tomvandig commented on #22
Would vote against this, the WASM file as a standalone web resource enables browsers to cache the compiled code, reducing subsequent startup times by skipping compilation. More info here: https://v8.dev/blog/wasm-code-caching

I am by no means a chrome expert, but I expect this caching to break if we somehow bundle the wasm inside the js resource, they specifically mention:

Could be this info is

[2021-05-20 14:04] antoniohof opened #32 "how to import lib properly?"
I can't find anything in the dist folder.
Just doing npm install doesn't work.
require and import doesn't work.

thanks

[2021-05-20 20:19] harrycollin commented on #32
@antoniohof you should refer to the ['Building the library](https://github.com/tomvandig/web-ifc#building-the-library)' section of the readme. What are you trying to achieve?

[2021-05-21 05:24] htlcnn commented on #31
@agviegas Here are console logs:

For model1: many `Unexpected curve type`
[model1.log](https://github.com/tomvandig/web-ifc/files/6520265/model1.log)

For model2: no exception so I assume all geometries in this model are implemented, but some still look weird
[model2.log](https://github.com/tomvandig/web-ifc/files/6520266/model2.log)

[2021-05-21 10:26] antoniohof commented on #32
Hi,
I did
npm install web-ifc

and then later
const WebIFC = require("web-ifc/web-ifc-api.js");

says it can't find 'web-ifc',
I checked node modules and it's there.

I will double check everything
thanks

[2021-05-24 07:38] ottosson opened #33 "IFC string escape is done by two single quotes"
Hi!

Just wanted to comment on this https://github.com/tomvandig/web-ifc/blob/f7da7d9b8010157e7f8e50eda6e0f1561310ca3c/src/wasm/include/parsing/tokenizer.h#L94

This is not an edge case. In [ISO 10303-21](https://en.wikipedia.org/wiki/ISO_10303-21) this is the way to escape a single quote.

Here is an excerpt from the EXPRESS specification.

![image](https://user-images.githubusercontent.com/33553

[2021-05-24 10:37] #32 closed

[2021-05-24 17:15] tomvandig commented on #33
Hi!

Thanks for the info!

Indeed its weird, I'll update the comment!

[2021-05-24 18:34] #33 closed

[2021-05-25 18:50] tomvandig commented on #27
Just implemented the missing component, result can be tested here: https://tomvandig.github.io/web-ifc/examples/viewer/index.html

To make the model visible, I also had to solve a coordination issue, so models are now default coordinated on the first element found. This will have to change in the future.

Your second model is actually rendering "correctly", however the default number of segments i

[2021-05-25 19:38] vegarringdal commented on #27
@tomvandig Awesome work. 👍 🥇

About the coordinates, dont think about it, I did a update to viewer repo that will focus model but its not set a default behavior behavior atm.
https://github.com/agviegas/web-ifc-viewer/blob/master/viewer/src/core/viewer.ts#L133-L155

Closing this issue.
If I find any new bugs Ill create a new issue and send you model files on discord.

[2021-05-25 19:38] #27 closed

[2021-05-26 06:47] tomvandig commented on #20
Hi Mathias,

Thank you for the kind words.

I am in the process of phasing out the ifc4-elements.json in favor of a typescript binding generated directly from the buildingsmart .exp definition file. You can find the typescript schema file [here](https://raw.githubusercontent.com/tomvandig/web-ifc/main/src/ifc2x4_helper.ts) (its quite large).

I don't have a strict requirement for an intermediate f

[2021-05-26 14:03] messiosmarios opened #34 "Unexpected Style Type"
Hey guys, I've tried loading a project exported from Rhino, using VisualARQ tools to design and export in IFC2x3. I get these 'Unexpected Style Type' errors in the console. Thanks! Awesome work btw :)

Console Log
[1622037044905.log](https://github.com/tomvandig/web-ifc/files/6547196/1622037044905.log)

Screenshot
![image](https://user-images.githubusercontent.com/23511558/119672952-ac6f6580-be43-

[2021-05-27 14:29] sinsunsan opened #35 "Browser is freezing with some specific IFC file"
http://openifcmodel.cs.auckland.ac.nz/Model/Details/331  it freeze the browser to parse the file.

It is possible to set some limit to the resource used in the client computer ? If some operations are really intensive, a time-out maybe ?
Or other strategies that prevent from freezing the browser, I mean make it non-responsive

[2021-05-29 11:53] tomvandig commented on #35
I can try to abort the boolean calculation if some #vertex-threshold is surpassed, will update this issue when its in.

[2021-05-31 06:54] freshcutdevelopment opened #36 "Feature Request - Server side rendering for IFC"
Many of our customers operate in low bandwidth environments such as remote areas, as such the idea of server rendering parts of the IFC model and streaming them to the client has much appeal for us.

In an ideal architecture, we'd be able to split the rendering across multiple Azure functions to make this scalable. Where the files are loaded from should be configurable to allow loading from Azure

[2021-05-31 07:17] tomvandig commented on #36
This is out of scope for this repository: this repository is only concerned with parsing IFC files and producing a web-compatible library. However, what you want to do is an important use case and will probably be supported inside the IFC.js ecosystem at some point. When this will happen, I don't know, since we're all doing this in our spare time. If you would like to contribute this would be a ni

[2021-05-31 07:18] #36 closed

[2021-05-31 19:58] freshcutdevelopment commented on #36
Thanks for the input @tomvandig much appreciated!

[2021-06-01 11:54] craigliesinger commented on #30
The issue may still be valid, but better approach for me was to simply use the the Threejs Loader implementation and use all api calls via it.

[2021-06-01 15:01] craigliesinger commented on #19
Trying to troubleshoot this a bit more (without the C++ / WASM skills to try fix on my own)... I notice with latest release with object highlighting & properties that the window geometries are being parsed as ifcWall (Wand-025):
![Screen Shot 2021-06-01 at 2 20 20 PM](https://user-images.githubusercontent.com/10994930/120344644-1089a200-c2fa-11eb-9b89-108424d19866.png)

Exploring the IFC I see in

[2021-06-02 19:00] tomvandig commented on #18
Both IfcIShapeProfileDefs  and IFCCIRCLEHOLLOWPROFILEDEF are now implemented, please check out https://tomvandig.github.io/web-ifc/examples/viewer/index.html (might need to clear cache & refresh to download the new wasm binary)

[2021-06-02 19:00] #18 closed

[2021-06-02 19:04] tomvandig commented on #19
Hi,

This is an interesting issue. There could be a couple things going wrong, but its hard to investigate without the model.
You can contact me on discord and transfer it privately, or attach it here.

Without the model, I can only guess.

[2021-06-03 14:18] harrycollin opened #37 "Add error catching functionality"
I believe we need to have a way to catch crashes/errors when loading the IFC. This issue isn't specific to any model in particular. I have not been able to find a way to catch the errors as shown below from the js side.

![Screenshot 2021-06-03 151303](https://user-images.githubusercontent.com/10602138/120659870-ae0dde80-c47e-11eb-9182-a37ea2e1855b.png)

Perhaps an endpoint/callback function that

[2021-06-03 14:36] agviegas commented on #30
Indeed, generally it's better to use either the Three.js IFC Loader or [web-ifc-viewer](https://github.com/agviegas/web-ifc-viewer)!

[2021-06-03 15:44] ThomasTJdev commented on #18
Thanks @tomvandig. Using your link the console shows that it loads fine, but no model is shown. I'll try to pull and compile later for a local test.
Thank you for fixing the issue!

![Screenshot_20210603_174032](https://user-images.githubusercontent.com/1888696/120673136-34ccb680-c493-11eb-90da-bf5a7fdebea0.jpg)

[2021-06-03 18:01] tomvandig commented on #18
Hi Thomas,

I'm sorry about that, that's unfortunate.
I believe both element types are implemented correctly now, as I can see them properly on other models. I believe your problem may lie in the coordination of your model. If your model is very far from the origin it may not be visible, even though it is loaded properly.

I will add some normalization to the viewer so you can check if this is ind

[2021-06-03 18:04] agviegas commented on #18
Just for the notice, centering the camera to the geometric elements is something we [already have implemented](https://github.com/agviegas/web-ifc-viewer/blob/c73e3895a4636ce0fd041283a93c5bd2ab6e8bd0/viewer/src/core/viewer.ts#L112) in web-ifc-viewer:

[2021-06-03 18:30] tomvandig commented on #18
As a workaround, I've added normalization to https://tomvandig.github.io/web-ifc/examples/viewer/index.html in the latest deploy. If you still can't see your model, something is seriously wrong and we should investigate further.

[2021-06-04 06:40] #30 closed

[2021-06-04 06:46] craigliesinger commented on #19
Sure.  Thanks Tom.  You should be able to download file here: https://firebasestorage.googleapis.com/v0/b/ziegelwerkstadt.appspot.com/o/houses%2Fhouse2%2FH01_Flachdach_Index01.ifc?alt=media&token=c3f08ffd-b814-4ab8-a486-d671046724b6

[2021-06-04 10:31] agviegas opened #38 "Dockerize web-ifc"
Dockerizing web-ifc could be useful both for collaboration (no emscripten installation needed) and for deployment in the backend.

[2021-06-06 14:44] ThomasTJdev commented on #18
Thank you @tomvandig! It works. I have tested with various models from different design teams - they load correct and fast. Great job!

Now when my models can load, I'm coming over to the `web-ifc-viewer`-repo :wink:

[2021-06-06 14:47] agviegas commented on #18
@ThomasTJdev Great! Keep in mind that these changes need some days to reflect on the other repos. Also, beware that the last changes regarding IFC functionality are in web-ifc-three.

[2021-06-07 17:53] vegarringdal commented on #29
tested if its still buggy with 0.19
Got this

![image](https://user-images.githubusercontent.com/2901416/121066231-f2281880-c7c9-11eb-8668-f77c8603bcbe.png)

[2021-06-07 17:57] vegarringdal commented on #28
Almost simular case with esbuild, figured I could add my workaround for it
If anyone is using esbuild they can make a plugin to skip it

[code]

Then you just load it

![image](https://user-images.githubusercontent.com/2901416/121066498-40d5b280-c7ca-11eb-86db-61818f607c02.png)

[2021-06-07 17:58] vegarringdal commented on #26
closing this, will supply some model files and create issue, dont remember what file I used here.

[2021-06-07 17:58] #26 closed

[2021-06-07 18:03] vegarringdal commented on #21
Tried it with version 0.19
This is the error messages

![image](https://user-images.githubusercontent.com/2901416/121067514-70d18580-c7cb-11eb-95aa-21ff9a44b8c3.png)

[2021-06-07 18:40] eng-luciano-julien opened #39 "Readme needs update for ifcApi.OpenModel();"
It seems the correct way to call ifcAPI.OpenModel since version 0.19 is
`
ifcApi.OpenModel(/* IFC data as a string or UInt8Array */, /* settings (opcional) */);
`

[2021-06-08 08:02] agviegas opened #40 "Error loading model"
I'll send you the model privately. Thanks!
[code]

[2021-06-08 08:05] #22 closed

[2021-06-08 08:05] #23 closed

[2021-06-08 18:48] tomvandig commented on #39
Fixed in latest commit

[2021-06-08 18:48] tomvandig commented on #33
Fixed in latest commit

[2021-06-08 19:31] tomvandig commented on #31
[Model1 is fixed](https://tomvandig.github.io/web-ifc/examples/viewer/index.html), model 2 pending investigation

![image](https://user-images.githubusercontent.com/49716596/121245943-e0657480-c8a0-11eb-8ff3-e05cf93db192.png)

[2021-06-08 22:41] #39 closed

[2021-06-09 07:57] ABaaS-dev opened #41 "Support for IFCPRODUCTREPRESENTATION"
First, I'd like to thanks you for this wonderful project, it really helps getting up to speed with the IFC.

I setted up a little test env in which I'm able to view some IFC file but some of them are still not working.
In the console, I got the following kind of logs:
Unexpected mesh type: 2095639259 at 9999

After a quick analysis, the error seems to refer to line where I have IFCPRODUCTREPRESENT

[2021-06-09 13:13] tomvandig commented on #41
This is a weird file, all the references point backwards :)

Anyway, thats allowed so no problem.

It's fixed, you can check out https://tomvandig.github.io/web-ifc/examples/viewer/index.html
Will be released in version 0.0.20

[2021-06-09 13:56] ABaaS-dev commented on #41
Thanks  a lot for the quick answer and fix !

Any idea on when version 0.0.20 will be released ?

[2021-06-09 14:07] tomvandig commented on #41
I'm working on some curve code for another issue that I have to fix. Maybe this evening, maybe not. It's a process.

:)

[2021-06-09 14:46] tomvandig commented on #41
These kinds of missing elements are easy to find and correct, provided I have A model.

It doesn't have to be your exact model, if you can conjure up any model with that property (or point me to one available online) I can easily solve it for you. Also please open up an issue if you find such a model.

To keep things fun for me, I don't hunt for these models myself, sorry.

[2021-06-10 07:14] ABaaS-dev opened #43 "Walls starting above the ground"
I have an issue with a Revit IFC, the walls are not from the ground but a bit above:
![image](https://user-images.githubusercontent.com/85176686/121480955-ec9a2080-c9cb-11eb-904f-c2996e4725b1.png)

I tested with Solibri and everything is displayed correctly:
![image](https://user-images.githubusercontent.com/85176686/121481050-09365880-c9cc-11eb-9ece-b21960177e43.png)

The ifc file is attached :
[

[2021-06-10 08:20] ABaaS-dev opened #44 "Support for IFCCOMPOSITEPROFILEDEF"
I cannot not load a file containing the IFCCOMPOSITEPROFILEDEF tag.
I get the following log:
Unexpected profile type: 1485152156 at 686

Please find bellow the ifc file:
[test_IFCCOMPOSITEPROFILEDEF.zip](https://github.com/tomvandig/web-ifc/files/6629581/test_IFCCOMPOSITEPROFILEDEF.zip)

Thanks

[2021-06-10 12:16] tomvandig commented on #40
Looks like you're simply running out of memory. I will try to reduce the memory usage on the WASM side to solve this issue, but in the end there's a fixed limit to the WASM heap that cannot be exceeded.

[2021-06-10 12:16] #41 closed

[2021-06-10 12:42] agviegas commented on #40
If there's a fixed limit, changes in web-ifc-three shouldn't have an effect on this, right? 🤔

[2021-06-10 15:42] makinita opened #45 "Different wasm file path in Chrome and Firefox"
The integration of web-ifc-viewer in my project works fine in Firefox but not completely in Chrome.

Firefox loads the .wasm file from root: my-project.com/web-ifc.wasm
Chrome loads it prepending "**js/**": my-project.com/js/web-ifc.wasm

Even if I use _setWasmPath('my-dir')_ chrome still prepends "**js/**":
my-project.com/js/my-dir/web-ifc.wasm (chrome)
my-project.com/my-dir/web-ifc.wasm (firefox

[2021-06-10 16:00] makinita commented on #45
moved to web-ifc-viewer

[2021-06-10 16:00] #45 closed

[2021-06-14 05:40] kovacsv opened #46 "Strange artifacts when loading some models"
I've tried to load these models with the published viewer (https://tomvandig.github.io/web-ifc/examples/viewer/index.html):
- https://github.com/agviegas/test-ifc-files/blob/main/Revit/rst_basic_sample_project.ifc
- https://github.com/agviegas/test-ifc-files/blob/main/Structures/simple%20rebar.ifc

Both model contains some strange artifacts that are not there when opening it in another application

[2021-06-15 15:15] agviegas opened #49 "Include IfcSpace as a type of object whose geometry to generate when loading an IFC"
This is not urgent, but should be easy!

[2021-06-16 13:34] tomvandig commented on #31
Update for model 2, I had some problems in the curve code causing the straight lines. I've fixed some bugs there, and it looks correct. I still have a geometry issue left as you can see below, will update later.

Also I was unable to load this model with the current bool lib, screenshot below is the old bool lib, so I am considering replacing that now.

![image](https://user-images.githubuserconte

[2021-06-16 19:50] tomvandig commented on #19
![image](https://user-images.githubusercontent.com/49716596/122283377-c2c18c00-ceec-11eb-8980-cbc18690bdfe.png)

Hi, this model will be fixed in 0.0.20

[2021-06-18 16:36] nathalie-raffray opened #50 "Where is ifc2x4.h?"
I'm trying to load an IFC file in a simple cpp program.

However I noticed web-ifc-geometry.h and web-ifc.h include "ifc2x4.h".
Does this file exist somewhere?

[2021-06-18 17:39] tomvandig commented on #50
This file was previously generated by a command in the package.json.

However, a recent PR from @kovacsv  has included this file, so you can now find it here:
https://github.com/tomvandig/web-ifc/blob/main/src/wasm/include/ifc2x4.h

[2021-06-18 17:39] #50 closed

[2021-06-19 18:32] tomvandig opened #51 "Reduce memory overhead"
* Allow tokenizer to work with streamed data, operating on chunks instead of the full buffer.
* Allow meshes to be queried one by one
* Make mesh-caching optional, discard meshes after querying if caching is disabled
* Improve mesh-caching to only cache what needs to be cached
* Reduce memory fragmentation in geometry generation phase by using a custom allocator for the geometry buffers.

[2021-06-20 16:01] tomvandig commented on #21
Update for v 0.0.20

![image](https://user-images.githubusercontent.com/49716596/122680818-88f4cc00-d1f1-11eb-986c-b423fcd124ec.png)

Some entities still unimplemented.

[2021-06-20 16:42] tomvandig commented on #29
Will be fixed in v0.0.20

https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-06-20 16:42] tomvandig commented on #46
#1 fixed in https://tomvandig.github.io/web-ifc/examples/viewer/index.html
Will be in 0.0.20

[2021-06-20 17:09] tomvandig commented on #46
#2 also fixed in https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-06-20 17:09] #46 closed

[2021-06-21 19:45] #29 closed

[2021-06-21 19:47] tomvandig commented on #49
In 0.0.20 you can request your own geometries using GetFlatMesh.

[2021-06-21 19:47] tomvandig commented on #35
In 0.0.20 you can try a different bool algo which performs better:

https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-06-21 19:53] tomvandig commented on #43
Update for 0.0.20

![image](https://user-images.githubusercontent.com/49716596/122819367-ac477600-d2da-11eb-8d7b-dbc8f78c9623.png)

Although some problems remain:

![image](https://user-images.githubusercontent.com/49716596/122819791-2bd54500-d2db-11eb-8e67-f0726d4ebabe.png)

[2021-06-21 21:37] #49 closed

[2021-06-22 13:37] vegarringdal opened #52 "Models issues - Unexpected mesh type: 1856042241"
@tomvandig Ill send IFC files in discord like last time :-)

Is it much work to add option on how detailed circles should be ?

**brset1.ifc**

in blender
![image](https://user-images.githubusercontent.com/2901416/122933552-07c34380-d36f-11eb-8535-6cd0b1439862.png)

web-ifc-v20
Unexpected mesh type: 1856042241
![image](https://user-images.githubusercontent.com/2901416/122933692-275a6c00-d36f-11eb-

[2021-06-22 14:43] vegarringdal opened #53 "bool - holter tower"
Holter tower is missing a few windows
Tried this with v 0.20 with and without USE_FAST_BOOLS

![image](https://user-images.githubusercontent.com/2901416/122945308-59e37500-d32d-11eb-8a17-8b2ee0ca0d7a.png)

[2021-06-22 19:20] tomvandig commented on #52
I think these are RevolvedAreaSolids, it's also a problem in #21

I will take a look when I have time

[2021-06-23 22:25] telegong commented on #40
I've loaded 220MB IFC file and can't load more files. AKA wasm32 memory limit 4GB. Chrome using 3.2GB in memory. I've heard wasm64 can exceed 1600TB in memory. Is wasm64 available with web-ifc?

[2021-06-24 09:02] CrossStyle opened #55 "Memory access out of bounds"
Hello,

I had a problem when I tried to open an [IFC](https://github.com/CrossStyle/BIM-Viewer/blob/8eb69a0f2c928b251404ffa1d502942214c8e2db/local_app/9-6TH%20FLOOR.ifc) file that was part of a model.

[code]

[2021-06-24 12:55] ABaaS-dev commented on #49
Hi,

I tried using GetFlatMesh with the expressID of an IfcSpace but not geometry is retrieved and I have the following log:
Unexpected mesh type: 3856911033 at 16132

I'm using the 0.0.20 version.

Am I missing something here ?

Thanks

[2021-06-24 16:23] tomvandig commented on #55
Your model has a line like this:
#50107=IFCRELVOIDSELEMENT('0MlN48Dwn3nfScny$3iZ$u',#6,$,$,#4126,$);
The last element is empty, but this is not allowed by the spec: https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/schema/ifcproductextension/lexical/ifcrelvoidselement.htm

I suggest that you fix the file to be compliant.

However, I would still like to parse this file normally even

[2021-06-28 17:53] eng-luciano-julien commented on #49
I got the same problem.

[2021-06-28 18:32] eng-luciano-julien opened #58 "String encoding - problem with special characters"
Hi,
I have an issue displaying special characters (ç, é). I am using the encoding utf8 in the web page.
![image](https://user-images.githubusercontent.com/82835289/123685811-143b1680-d81d-11eb-9fb0-c3fb0605e3e5.png)

The string name came that way in json.
![image](https://user-images.githubusercontent.com/82835289/123685932-392f8980-d81d-11eb-8398-4c1e5eb15346.png)

[2021-06-29 07:24] kovacsv commented on #58
Quick and dirty solution on the JavaScript side:
[code]

[2021-06-29 18:40] eng-luciano-julien commented on #58
Thank you @kovacsv! It solves the problem.

[2021-06-30 14:22] eng-luciano-julien opened #59 "How to know the translation of the config COORDINATE_TO_ORIGIN: true"
Hi,
I want to use the config COORDINATE_TO_ORIGIN: true. And I am adding some objects manually in the scene.
How to know the translation of the model the config did, in order to place correctly my objects.

Thanks in advance

[2021-06-30 14:41] vegarringdal commented on #59
Its probably just easier to do do the translation your self/or @agviegas can add it as a option to the viewer :-)

So when starting to load files, you can get center of the first element/geometry, and reuse that on all geometry and files added after.

[2021-07-02 10:58] kovacsv opened #61 "Trim to roof doesn't work"
Trim to roof doesn't work with this model:
https://github.com/opensourceBIM/TestFiles/blob/master/TestData/data/AC11-FZK-Haus-IFC.ifc

![image](https://user-images.githubusercontent.com/2034315/124264791-3a222d00-db35-11eb-97e9-6b03bbbf380b.png)

[2021-07-03 14:23] tomvandig commented on #40
This model is fixed in the latest deployment of https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-07-03 14:23] #40 closed

[2021-07-03 14:45] vegarringdal commented on #40
@tomvandig nice 🥇

[2021-07-05 13:11] antoniohof commented on #45
Also happens to me. Cant set up a URI wasm path, it always prepends the current url.

[2021-07-08 13:46] phili3000 opened #63 "Window Opening in Wall works with ifc 2x3 but not with ifc 4 (wall fills opening)"
Hey,
I have a wall with a window opening. When i export it with ifc 2x3 then it looks like expected. When i export it with ifc 4 then it gets inverted, so the wall fills only the window opening.

Thanks and cheers!
Philipp

ifc 2x3:
<img width="778" alt="Bildschirmfoto 2021-07-07 um 18 07 35" src="https://user-images.githubusercontent.com/31009513/124931605-ae137800-e002-11eb-8413-87c8953cce1f.png

[2021-07-13 11:56] craigliesinger commented on #19
I think there may have been an issue in the solution fix being pushed out with .20?  I've tried your example app in web-ifc repo and a Svelte example I made that also uses web-ifc 0.20.  I still get original result:
![Screen Shot 2021-07-13 at 1 52 09 PM](https://user-images.githubusercontent.com/10994930/125447251-2ec95004-f9bf-404b-a2b5-d992550f61ab.png)

[2021-07-14 06:15] tomvandig commented on #63
Thanks for reporting this, I've seen more inverted geometry lately, I will try to solve it when I have time.

[2021-07-20 19:16] tomvandig commented on #19
Indeed my fix was incorrect, should be good in version 21. Let me know if the problem remains!

[2021-07-20 19:16] tomvandig commented on #31
These are now both rendering correctly.

[2021-07-20 19:16] #31 closed

[2021-07-20 19:16] #19 closed

[2021-07-20 19:16] #61 closed

[2021-07-20 19:17] tomvandig commented on #63
Fixed in 21.

[2021-07-20 19:17] #63 closed

[2021-07-21 16:50] ABaaS-dev commented on #55
Hello,
I am facing a similar issue but I checked in my file, the last element of all the IFCRELVOIDSELEMENT tags is filled.
Moreover, I'm only facing the issue with the 21 version (not with the 20).

Did you already identified some king of regression with the new version ?

Thanks

[2021-07-21 19:22] tomvandig commented on #55
Hi, please attach your model so I can take a look. Thx!

[2021-07-22 08:33] ABaaS-dev commented on #55
Hi Tom,
I cannot share my file publicly, is there a way I can send it to you directly ?
Thanks

[2021-07-22 19:05] tomvandig commented on #55
Easiest thing would be to join the discord channel, and find me:
https://discord.com/invite/g7Uzn2KSwB

Thanks!

[2021-07-22 19:07] tomvandig commented on #43
I've looked at this file some more and it turns out one of the openings has inverted faces, which need to be fixed. I am not sure how complicated that will be, but I will let you know if I have progress.

[2021-07-22 19:08] tomvandig commented on #52
RevolvedAreaSolids have a first implementation now, there's still problems with the tangents on the connections between the segments, which are easy to fix. Also #2 has a bug where the rotation is incorrect. I will update this ticket once it's complete.

[2021-07-22 19:16] tomvandig commented on #28
Is this problem still ocurring?

[2021-07-23 12:48] pablo-mayrgundter opened #65 "Boolean elements render differently in web-ifc-viewer 1.0.14->1.0.20"
Antonio suggested opening an issue here.. See discussion and screens:

https://discord.com/channels/799990228336115742/799990228336115745/868092915417772102

and source IFC:

https://drive.google.com/file/d/168tLtCwUiBIaOqhczWbs5HQh-1Zi69zg/view?usp=sharing

[2021-07-24 12:25] pablo-mayrgundter opened #66 "Build errors for from-scratch build of 0.0.21"
Hi Tom,

Trying to build from scratch.. everything goes well for awhile, then errors

There's a warning about using the right tsc.. hopefully it's just an env problem for me.  The typescript lib is already installed, and I also tried using yarn, but same errors.

[code]

[2021-07-24 12:28] agviegas commented on #66
Hey Pablo, have you considered using Docker? We have just dockerized web-ifc. It's just a first version, but it should be easier if you're familiar with it. 🙂

[2021-07-24 12:30] pablo-mayrgundter commented on #66
Yeah, I use it occasionally.. I can try it.  Better to have a hermetic build anyways

[2021-07-24 12:32] agviegas commented on #66
Great! You can use the commands `npm run docker-build` and `npm run docker-run`. We'll upload this to docker-hub to make it even easier.

[2021-07-24 13:06] vegarringdal commented on #66
@pablo-mayrgundter

Sounds like `npm install` have failed some how, are you missing tsc under `node_modules/.bin` ?
Usually when I get errors that just fails for no good reason I just delete the `node_modules` folder and rerun `npm install`

[2021-07-24 13:11] vegarringdal commented on #66
hmm

This dependency probably will create issues...

![image](https://user-images.githubusercontent.com/2901416/126869470-753fbc0e-0841-41e5-a931-cc0f517d6fdf.png)

[2021-07-24 13:20] vegarringdal commented on #66
did a PR :-)

[2021-07-24 14:45] pablo-mayrgundter commented on #66
That did the trick, thanks!

[2021-07-24 17:05] tomvandig commented on #66
Accepted PR and moved monaco dep to dev-deps, looks like the tsc dependency was just a typo so it could be deleted.

[2021-07-24 17:05] #66 closed

[2021-07-26 15:22] agviegas opened #68 "Bad boolean operation"
Model: https://drive.google.com/drive/folders/1CbhqhjPG_T56K1dUz4dYfarViB9am_xK?usp=sharing

![image](https://user-images.githubusercontent.com/56475338/127014967-1f19238b-9300-4574-99b8-612fb98d7245.png)

[2021-07-27 16:47] favreau84 opened #69 "Problem when rendering IfcBuildingElementProxy which are rectangle extruded shapes"
## Context

In this construction project, one company (company A) is managing all the openings changes from one Revit digital mockup. Every time a change occurs, the company A shares one IFC files with all the up-to-date openings. Consulting companies, like structural engineering consultants, need to update the execution blueprints from this IFC.

## Problem

When using the web-ifc-three lib to re

[2021-07-27 18:11] tomvandig commented on #69
Hi,

Could you try out your model here and report back?
https://tomvandig.github.io/web-ifc/examples/viewer/index.html

Feels like it looks OK there, which could mean that the far-away-ness of your model is not correctly taken into account on web-ifc-three.

If you can verify it works correctly above, I can suggest a solution for the web-ifc-three repo

[2021-07-27 18:27] favreau84 commented on #69
@tomvandig , the model is perfectly loaded from your viewer. It is amazing !! That would be great indeed to have the same result with web-ifc-three. Is there a quick win tuning Three.js rendering ?

<img width="697" alt="fine" src="https://user-images.githubusercontent.com/18169247/127207645-4fd9fc58-63fa-466f-93e0-8ea3ea68b13b.png">

[2021-07-27 18:28] agviegas commented on #69
Hey, if you move the issue to web-ifc-three, I'll happy to fix it!

[2021-07-27 18:36] favreau84 commented on #69
@agviegas, ok great, I copied it here : https://github.com/IFCjs/web-ifc-three/issues/30

[2021-07-28 06:46] #69 closed

[2021-07-28 15:22] agviegas opened #70 "Super long time lasting boolean operation"
https://drive.google.com/drive/folders/17_y3Ia9H4Mdg69YyTYXLU-BFJ9zpspeu?usp=sharing

[2021-07-29 15:58] KiWiGiW opened #71 "Loading IFC4 file with IFC.js provokes a RunTimeError"
Error:
![image](https://user-images.githubusercontent.com/30846915/127524684-90edeee4-3439-47a1-ae27-6fb7f365abfe.png)

IFC4 file below

[2021-07-29 15:59] agviegas commented on #71
https://drive.google.com/file/d/1PUcGEcE0K4mxE9krEynu7WCDimlOHWtr/view?usp=sharing

[2021-08-04 13:54] tomvandig commented on #59
Please see https://github.com/tomvandig/web-ifc/blob/main/examples/usage/src/coordination.ts for an example

Available in version 0.0.22

[2021-08-04 13:54] #59 closed

[2021-08-04 15:31] eng-luciano-julien commented on #59
Thank you!

[2021-08-12 11:46] fedelaport opened #73 "Missing colors on parts with cutouts"
Hello!

Boolean results seems to be losing the style assignment. Take this panel as example. In a desktop viewer I get this colors:

![image](https://user-images.githubusercontent.com/20012908/129189715-85151fc5-7619-4239-ac29-f4e6e29608b8.png)

With ifcjs I get this colors right now:

![image](https://media.discordapp.net/attachments/800000126998675457/875335655406862336/unknown.png)

This is the

[2021-08-13 16:30] eng-luciano-julien opened #74 "Split LoadAllGeometry in two parts to reduce fisrt response to user"
Hi,

I start writing a copy of loadAllGeometry split into two functions, loadMainGeometry and loadSecondaryGeometry.
https://github.com/eng-luciano-julien/web-ifc/commits/main

In my test of a 44.8 mb file I have the following times:
- loadAllGeometry: ~15s
- loadMainGeometry: ~2s

In loadMainGeometry I am extracting only
4097777520,IFCSITE,
753842376,IFCBEAM,
2906023776,IFCBEAMSTANDARDCASE,
16776

[2021-08-14 15:09] tomvandig commented on #70
Can now be aborted in https://tomvandig.github.io/web-ifc/examples/viewer/index.html and v0.023

[2021-08-14 15:11] tomvandig commented on #37
Added in v0.0.23, please use https://github.com/tomvandig/web-ifc/blob/410612d38a88cb645833dae1291dc1993b6969d5/src/web-ifc-api.ts#L175
Example in: https://github.com/tomvandig/web-ifc/blob/410612d38a88cb645833dae1291dc1993b6969d5/examples/viewer/web-ifc-viewer.ts#L139

[2021-08-14 15:12] tomvandig commented on #35
From 0.0.23 you can use https://github.com/tomvandig/web-ifc/blob/410612d38a88cb645833dae1291dc1993b6969d5/src/web-ifc-api.ts#L28 to abort a boolean operator exceeding some vertex count, defaults to 10k

[2021-08-14 15:12] #35 closed

[2021-08-20 08:38] sbstnkll opened #75 "Error loading ifc. RuntimeError: abort(Assertion failed: false, at: ./src/wasm/include/web-ifc.h,618,GetSetArgument). Build with -s ASSERTIONS=1 for more info."
I try to load a ifc file locally. All other IFC files are loading like a charm, except of this one "walls.ifc":

![image](https://user-images.githubusercontent.com/31189168/129555779-469a6793-1f0e-46b9-b48e-dbff3beccf26.png)

This is the ifc-file: https://www.file.io/download/Vp4U2zpUXvHv

side info that may help: the walls.ifc file is successfully loaded in the "hello world" example of the ifcjs

[2021-08-25 08:17] telegong opened #77 "A Floor raise error when loading all structure ifc file"

[2021-08-29 15:03] simpleSketche opened #79 "Some elements in the ifc model are not displayed, see ifc file attached."
![image](https://user-images.githubusercontent.com/71196100/131255121-a8cb259f-62c8-4c40-9246-d73d4ca1267e.png)

ifc model link:
https://drive.google.com/file/d/1n3OsCkr-Z-7z7MWt7gvn9U_YTPGQ0d5i/view?usp=sharing

[2021-08-31 09:13] SpiderProjectDeveloper opened #80 "Unexpected style type plus boolean operation failure"
Hello!
When loading the model http://openifcmodel.cs.auckland.ac.nz/_models/231110AC11-Institute-Var-2-IFC.ifc
I receive the following warnings:
27 bundle.js:52073 unexpected style type
12 bundle.js:52073 complex bool aborted due to BOOL_ABORT_THRESHOLD

When loading another model http://openifcmodel.cs.auckland.ac.nz/_models/20201208FM_ARC_DigitalHub.ifc
I as well received a long list of messages

[2021-09-01 02:05] telegong commented on #77
In dynamo, the floor raise an error while convert floor element to solid geometry
: trim_with_edge_loops requires all curves to touch surface

I found related article: https://chuongmep.com/trim-with-edge-loops-requires-all-curves-to-touch-surface

[2021-09-01 05:18] telegong commented on #77
Dynamo forum solution : https://forum.dynamobim.com/t/element-geometry-error-trim-with-edge-loops-requires-all-curves-to-touch-surface/55696

[2021-09-09 07:54] fedelaport commented on #73
Hey @tomvandig, any news about this? 😅

[2021-09-09 15:57] tomvandig commented on #73
Hi @fedelaport,

I will do my best to get around to each issue in time.

However, I am unable to say when it will be, as my time to work on this project is very limited unfortunately.

I appreciate your enthusiasm in the project and I hope I can do an update soon.

Cheers.

[2021-09-10 10:40] SpiderProjectDeveloper opened #81 "Uncaught RuntimeError"
Hello!
There is a model: http://www.spiderproject.com/ru/test/ifc-bim/model.ifc
When making the ifcLoader.ifcManager.getItemProperties call for some elements, (e.g. an element with express id = 250) I receive the following error message (a warning then an error) in the browser's developers console:
Assertion failed: false, at: ./src/wasm/include/web-ifc.h,468,MoveToArgumentOffset
abort @ bundle.js

[2021-09-12 04:47] camnewnham opened #82 "Critical dependency: the request of a dependency is an expression in web-ifc-api.js"
Since updating to `threejs 0.132.2` in a `create-react-app` / `webpack` project receiving the warning:

[code]

Builds still succeed, but by default most CI servers will `set CI=true`, resulting in warnings treated as errors (as I experienced with GitHub Actions).

This can be avoided in the short term by setting `CI=false` on the build server, but of course, this is not an ideal configuration for

[2021-09-12 14:11] hey24sheep opened #83 "`IFC` import fails with error `Unexpected placement type`"
Try importing an `.ifc` file (download from [here](http://openifcmodel.cs.auckland.ac.nz/)) it fails.

Error
[code]

Error Image
![Capture](https://user-images.githubusercontent.com/31468022/132990875-f26914f2-acbb-42e5-b4ab-69f49eb1251e.PNG)

[2021-09-20 07:22] favreau84 commented on #82
As @camnewnham mentioned, I had to set `CI=false` so that builds succeed...Not ideal ! Any idea on how this warning could be removed ?

[2021-09-20 10:04] favreau84 opened #84 "Define the origin of the model as being the origin of one site"
# Context
-When the site origin is far far away from the world origin, some discrepancies appear in the 3D geometry (example : https://github.com/IFCjs/web-ifc-three/issues/30).
-Thanks to the `COORDINATE_TO_ORIGIN:true` config, a new model's origin is computed (let's call it **IFCjs origin**), the model is loaded in Three.js with the origin positioned at (0,0,0), and the discrepancies disappeared

[2021-09-20 10:24] agviegas commented on #84
Ping @tomvandig

[2021-09-22 07:24] vdyachuk opened #85 "Error convert ifc to json"
I try to convert ifc file to json. Get file from [example ](https://github.com/tomvandig/web-ifc/blob/main/examples/example.ifc) and after start have the error.

`Assertion failed: false, at: ./src/wasm/include/web-ifc.h,468,MoveToArgumentOffset
Error(613875): abort(Assertion failed: false, at: ./src/wasm/include/web-ifc.h,468,MoveToArgumentOffset). Build with -s ASSERTIONS=1 for more info. Runtim

[2021-09-23 14:01] pablo-mayrgundter commented on #82
Still seeing this too with web-ifc-viewer@1.0.64

[2021-09-23 14:24] pablo-mayrgundter commented on #82
Ah, isn't this a dupe of https://github.com/IFCjs/web-ifc-viewer/issues/88?  It was a won't fix.

[2021-09-23 17:12] agviegas commented on #82
Yeap, indeed. This code is autogenerated by emscripteen and we don't have control over it. Anyway, it's a false positive, as that code will only execute in node apps.

[2021-09-23 17:12] #82 closed

[2021-09-24 13:29] favreau84 opened #86 "Geometry not rendered as expected with IfcBooleanClippingResult and IfcPolygonalBoundedHalfSpace"
# Problem

- web-ifc : 0.0.24
- Some geometries are not correctly rendered.
- File : [gourreau.ifc.zip](https://github.com/tomvandig/web-ifc/files/7225887/gourreau.ifc.zip)
- Incorrect geometry for the item with expressID : 2625
<img width="564" alt="
Capture d’écran 2021-09-24 à 15 17 40" src="https://user-images.githubusercontent.com/18169247/134681125-e6f981e9-e54e-4af4-bd09-d9ada00fc478.png"

[2021-09-29 13:17] tomvandig commented on #73
Fix is in the main branch, you can check it here:
https://tomvandig.github.io/web-ifc/examples/viewer/index.html

Pending packge deploy

[2021-09-29 13:19] tomvandig commented on #68
This file seems to be fixed:
https://tomvandig.github.io/web-ifc/examples/viewer/index.html

![image](https://user-images.githubusercontent.com/49716596/135276252-01070d8d-8e04-4189-82a0-28ca55b636d2.png)

[2021-09-29 13:22] tomvandig commented on #84
I do

[2021-09-29 15:15] fedelaport commented on #73
I just tested it and it works perfectly fine. Thanks @tomvandig! Closing this then.

[2021-09-29 15:15] #73 closed

[2021-09-29 20:40] favreau84 commented on #84
Hi @tomvandig, as far as I'm concerned, in the vast majority of the ifc files used in a construction project, there is only one ifcSite. So taking the first (and only one) site will definitely solve 99% of the use cases.
For the edge cases were there are several ifcSites, well, it's not really a pb : the user will be able to translate the model afterwards from the ifcSite locationPlacement.

In ot

[2021-09-30 12:15] tomvandig commented on #84
@favreau84

Sounds good, I'll update the ticket when first_site_as_origin (or similar) is in

[2021-10-06 13:37] VLegatus opened #88 "Inner radius of IFCSWEPTDISKSOLID currently not supported"
![image](https://user-images.githubusercontent.com/19193927/136212024-9b39ffdf-f0a6-4e59-9be4-e6405f30c85a.png)
Jiggy on Discord brought this up, but I'm also having the same issue.
It seems to involve any tubular structure, and turns them into septagonal prisms.

The Sample IFC that I used:
http://openifcmodel.cs.auckland.ac.nz/Model/Details/348

[2021-10-06 15:23] VLegatus commented on #88
It also seems to parse the IFC file as something much bigger

[2021-10-07 12:38] akoshorvath11 opened #89 "Show "unexpected token" message"
Hi!
I uploaded ProVI IFC out file and the threw "unexpected token" error.

![image](https://user-images.githubusercontent.com/58355308/136384465-dc757223-a490-4013-9eed-0d609f2fce98.png)

The ifc file:
[IFCOUT2_model.zip](https://github.com/xeokit/xeokit-bim-viewer/files/7302532/IFCOUT2_model.zip)
Thank you in advance for your answer!

[2021-10-07 23:00] penuttw0 opened #90 "IFCSweptDiskSolid geometry definition error"
Hi Tom,
Upon loading geometry following the IFCSweptDiskSolid IFC2X3 standard, The geometry for a curved pipe is distorted and the thickness of the pipes are not defined.  Additionally, the definition of the circular geometry has been rationalised into a octagonal shape rather than maintain the circular geometry.

![image](https://user-images.githubusercontent.com/48374651/136473466-b7989963-c62e-

[2021-10-18 13:24] loicroybon opened #91 "How to have a correct position for georeferenced model ?"
Hello, I have an IFC model with high coordinates values (center : 1934745.48357, 4252640.72565, 258.547085938).
I want to merge this model with CesiumJS to display model on a 3D globe but I'm not able to have a correct implentation.

**case 1 : with COORDINATE_TO_ORIGIN: false**
Model display flickers (float limit)

**case 2 : with COORDINATE_TO_ORIGIN: true**
Model is very far from the real globe

[2021-10-27 10:13] QuimMoya opened #96 "Possible floating point error"
I'm trying to open a road using WEB-IFC project, the model is not very large, but it is placed very far away.

When i open it, WEB-IFC centers the model but, for some reason, there are floating point errors in visualization.

![image](https://user-images.githubusercontent.com/12625508/139045635-e99237ea-8654-4ff5-a74d-58d035137732.png)

I have verified that the geometry sent to THREE viewer is cor

[2021-10-27 11:57] noblejrepo opened #97 "convert2xkt memory access out of bounds"
Hi,

I'm trying to convert IFC with convert2xkt but some ifc have this issues. And I can't convert them.

Do you have an advance for me to find out where is the problem come from ?

comand on centos : #convert2xkt.js -l -s file.ifc -o file.xkt

OUTPUT :
Error: RuntimeError: memory access out of bounds
at :wasm-function[297]:0x1b016
at :wasm-function[474]:0x35fe0
at :wasm-function[114]:0x699d
at :w

[2021-10-27 14:39] ngorlani opened #98 "geometrical problems on rendering an IFC file"
Hi! I have geometrical problems on rendering an IFC file ([R8_F1_MAB_AR_M3_XX_XXX_MO_7000.zip](https://github.com/tomvandig/web-ifc/files/7427026/R8_F1_MAB_AR_M3_XX_XXX_MO_7000.zip)).
All window geometries are malformed:
![134960418-4eb093d6-6cb9-42c9-b134-23b3ca4650c1](https://user-images.githubusercontent.com/91492685/139087853-8c72a59d-53fe-4657-8bff-93014042efe3.jpg)

[2021-10-29 18:06] akoshorvath11 commented on #89
Thank you for your help!  This IFC file was created by the ProVI design software.  I don’t know if comments are allowed in the IFC schema.  I will follow the #96.

[2021-10-29 18:06] #89 closed

[2021-10-30 11:53] tomvandig commented on #89
Actually I was wrong, IFC allows comments, just never encountered them before :)

I will fix this in the new version.

[2021-10-30 12:01] tomvandig commented on #98
![image](https://user-images.githubusercontent.com/49716596/139532080-9a4e6150-a28d-44d9-8bfc-11b69bb74825.png)
Some more progress at https://tomvandig.github.io/web-ifc/examples/viewer/index.html

[2021-11-01 08:34] penuttw0 commented on #90
Hi Tom,

See attached, i hope this helps.

On Sat, Oct 30, 2021 at 12:29 AM Tom van Diggelen ***@***.***>
wrote:

[2021-11-02 11:05] agviegas opened #99 "Autility models with issues"
[Here](https://drive.google.com/drive/folders/1ClbRFtJVqxWVVZ4PabRXQ6UBDNdsKojY?usp=sharing) you have the files.

Result:
![image](https://user-images.githubusercontent.com/56475338/139834858-969a64ab-e7fc-47ac-b967-8517bddf0291.png)

Result:
![image](https://user-images.githubusercontent.com/56475338/139834879-784b4760-4f0f-4a1c-8090-90c5f13ba050.png)

Expected:
![image](https://user-images.githu

[2021-11-02 16:50] ngorlani commented on #98
Hi,
perfect!
I'm trying the viewer ( https://tomvandig.github.io/web-ifc/examples/viewer/index.html) and most of the problems now are solved!
I only see this geometrical isseus on windows:
![image](https://user-images.githubusercontent.com/91492685/139909606-64564914-f91b-4eaa-a881-ca388ee9bc7e.png)

[2021-11-02 17:13] ngorlani opened #100 "Library don't load IFC model"
Hi,
I have try to load this IFC model:
[S01-NSP-ESE-A-ST-TE-ZAN-M3-000-000-00.zip](https://github.com/tomvandig/web-ifc/files/7462738/S01-NSP-ESE-A-ST-TE-ZAN-M3-000-000-00.zip)

In console (https://tomvandig.github.io/web-ifc/examples/viewer/index.html) I can see a lot of "no bueno" comments :D
![image](https://user-images.githubusercontent.com/91492685/139913095-5d9e7e92-d270-4764-8575-3c92bc3767

[2021-11-03 11:42] agviegas opened #101 "Make the example CSS 100% height in firefox"
![image](https://user-images.githubusercontent.com/56475338/140054074-1c0d586b-292c-45eb-a458-b2e0d747de85.png)

[2021-11-04 11:02] antoniohof commented on #75
I'm also having this with the most recent version

[2021-11-04 11:15] pb40development commented on #75
any news on this?

recently a lot of projects/hackathons use ifc.js and I wonder if they aren't having the same issue? What are we doing wrong here? Or is it a version thing?

[2021-11-04 11:16] sbstnkll commented on #75
any news on this?

recently a lot of projects/hackathons use ifc.js and I wonder if they aren't having the same issue? What are we doing wrong here? Or is it a version thing?

[2021-11-04 11:18] agviegas commented on #75
Sorry for the delay! I can´t access to the file in Icloud. Could you please send it another way? That error happens if the wasm file is not the same as the library you are using. To check wether the problems lies on your setup or in the library, you can try the [sample viewer](https://tomvandig.github.io/web-ifc/examples/viewer/index.html). Can you reproduce it there?

[2021-11-04 11:19] sbstnkll commented on #75
Sry. The icloud link was out of date. I just updated the file link:

walls.ifc:
https://www.file.io/download/Vp4U2zpUXvHv

[2021-11-04 11:20] agviegas commented on #75
![image](https://user-images.githubusercontent.com/56475338/140305052-1d30a173-3682-475a-9610-f550a5cae572.png)

[2021-11-04 11:21] sbstnkll commented on #75
ah. sry. the end of the week is approaching ;):

https://file.io/tKOZVHywfSbW

[2021-11-04 11:26] agviegas commented on #75
I can load it [here](https://tomvandig.github.io/web-ifc/examples/viewer/index.html), which is the last version (0.0.26). The most likely cause is that I haven't had the time to update web-ifc-three and web-ifc-viewer yet. This means that they use web-ifc@0.0.25, and if you updated web-ifc, you are using the wasm file of 0.0.26. Is this the case? I'll try to update both modules today.

[2021-11-04 11:32] sbstnkll commented on #75
Ok. I need to look this up in my repo. I get back to you if this is the case. Thanks :)

[2021-11-04 11:46] noblejrepo commented on #97
Hi @tomvandig ,

I am sorry to disturb you again but when I am trying to buid "web-ifc.wasm" following the tutorial in this repos. But when I exectuted  "npm run build-release" I got this

![Capture](https://user-images.githubusercontent.com/32675298/140308002-fa33c019-4379-4f86-b543-4b2bcafbb280.PNG)

Any idea for me to resolve this ?

[2021-11-04 12:05] tomvandig commented on #97
Yeah this is a work in progress, you need to run wasm-build-release-mt, apparently I did not include it in the build command yet

[2021-11-04 16:12] noblejrepo commented on #97
The build works ! I replaced in "example/viewer/wasm/" the compiled files (web-ifc-mt.wasm,web-ifc.wasm) and I can see in my local viewer (localhost:5000/example/viewer/) the IFC.

I replaced the "web-ifc.wasm" in xeokit-convert/dist and launched the convertion but it was not worked. I got this

![Capture](https://user-images.githubusercontent.com/32675298/140376275-cbe9f4e5-9746-4382-b1c2-7b5f125

[2021-11-04 16:22] noblejrepo commented on #97
ok ! thank you for everything

[2021-11-04 16:22] #97 closed

[2021-11-07 00:31] agviegas opened #102 "Incomplete beam geometry"
Some beams look incomplete (there's missing faces). It's strange, because in a model from the same guys they have similar beams and are displayed correctly. Both models are attached [here](https://drive.google.com/drive/folders/1pkShjbjGXrp6jLM65BRYbjES10cjUsDG?usp=sharing).

Good:

![image](https://user-images.githubusercontent.com/56475338/140627865-741ab2ed-0ab2-44dc-a93e-7574aadec639.png)

Bad

[2021-11-07 00:36] agviegas opened #103 "Model loading forever"
A model keeps loading forever and never finishes. A similar model with similar size from the same guys loads super fast. Both can be found [here](https://drive.google.com/drive/folders/1JgZSWz20_xQ-2UgHH5PUvMhvy9VlXRxz?usp=sharing).

Model that can be loaded:

![image](https://user-images.githubusercontent.com/56475338/140627921-7de9295d-4385-420a-b1a7-51a32ee7c514.png)

Model that can't be loaded

[2021-11-07 22:59] favreau84 commented on #103
Hi @agviegas & @tomvandig ,
I recently upgraded the lib to the new versions :

 "web-ifc":"^0.0.24"=>  "^0.0.28",
  "web-ifc-three": "^0.0.68" => "^0.0.80",

Now, I have some models that are not loaded, (but they did load before),  like this one [station_0.ifc.zip](https://github.com/tomvandig/web-ifc/files/7493293/station_0.ifc.zip)

Any idea ?
Thanks !

[2021-11-08 13:50] agviegas commented on #103
More info: `USE_FAST_BOOLS=true` allows to load up to a point, but then it stops and throws that error 🤔 Maybe out of memory?
![image](https://user-images.githubusercontent.com/56475338/140753464-126fc91b-868e-421c-972b-9ba0f655a777.png)

[2021-11-08 13:53] agviegas commented on #102
More info:
![image](https://user-images.githubusercontent.com/56475338/140753932-ab59e00e-e76f-4f7b-826c-c3ddab5bfdff.png)

[2021-11-08 20:40] favreau84 opened #104 "Add a callback progress"
#### Description

Add a progress callback to the loading process. The final objective is to provide a constant feedback to a user who is loading a model with web-ifc-three.

A super nice feature from a UX perspective :-)

#### Origin
![image](https://user-images.githubusercontent.com/18169247/140814638-7d034e98-ddd0-44f2-a0db-23d4a4dff3c3.png)

[2021-11-14 14:07] #81 closed

[2021-11-15 14:42] posutsai opened #105 "Error happens when importing web-ifc-api-node"
Hi, I am new to web-ifc. Thanks for your great job. Following the [hellowold example](https://github.com/IFCjs/hello-world/tree/main/examples/web-ifc/ifc-to-json/node) which convert IFC file into JSON with nodejs, I meet an error when `require('web-ifc/web-ifc-api-node');`. I am using version 0.0.29. Here's the error message.

[code]
Could you give me some advice how to solve the issue?

[2021-11-17 11:58] maciejlutostanski commented on #105
In node.js, you don't have self. [node-self](https://github.com/leegeunhyeok/node-self#readme) is your friend here.

[2021-11-17 12:00] tomvandig commented on #105
Hi guys, sorry about this, working on the multi threading is a bit cumbersome. I’ll fix it when I have time. In the meantime consider rolling back a couple versions, that should work.

[2021-11-19 01:17] posutsai commented on #105
Is there any suggested version? I've try various past versions (0.0.25 ~ 0.0.28) with the sample [IFC Schependomlaan.ifc](https://github.com/buildingSMART/Sample-Test-Files/blob/master/IFC%202x3/Schependomlaan/Design%20model%20IFC/IFC%20Schependomlaan.ifc) but none of these successfully convert the ifc file into json. Here's several error logs of each version.

[code]
[code]

Looks like 0.0.26 act

[2021-11-23 20:42] TymofiiS opened #108 "Not properly or not converted at all some walls"
https://drive.google.com/file/d/1yzEtuOWBpqZ5mvdMp4SuFVFvAMvAgugZ/view?usp=sharing
https://drive.google.com/file/d/1h242zQ5_vcrvPggFGLtsF_QZrKm-EJ6o/view?usp=sharing

https://drive.google.com/file/d/10b2sDWHwXyjiKHrD0gVOxV3JqQorbqJW/view?usp=sharing
https://drive.google.com/file/d/1PZ8VHb6T49rLn_aIVOfB0BpOoJGVWlA4/view?usp=sharing

[2021-11-30 14:39] cdiggins opened #109 "Document Supported and Unsupported IFC Features"
For us to start considering using this library in production code, we would need to know what the list of supported and unsupported IFC features and known issues is.

[2021-11-30 14:43] cdiggins opened #110 "Automated Test Suite"
This project would benefit from an automated test suite, even including some known failures. Perhaps using the files posted here https://github.com/IFCjs/test-ifc-files . Adding some of the files submitted in Github issues could be added to a "failing" folder.

[2021-11-30 14:47] cdiggins opened #111 "Published Benchmark Results"
It would be very helpful to see a list of benchmark results published automatically to this web-site as a table:

I would suggest the following fields:
* Input File Size
* Number of IFC Entities
* Total number of produced meshes
* Total number of polygons
* Processing Time
* Processing Success
* Error/Warning Count

[2021-12-01 15:52] cdiggins commented on #109
Hi @tomvandig sorry about the confusion, I was requesting this as a feature of the library/repo, unfortunately I can't actually volunteer at the current time. Right now, my team is using XBim to convert IFC to the VIM format as a service and it is working relatively well.

That said, do you think there is some way the list of supported/unsupported IFC features could be automatically generated?

By

[2021-12-01 16:30] awmartin commented on #110
Agreed. Check out [this coming PR](https://github.com/tomvandig/web-ifc/pull/112) for including a testing harness that we can use to do what you suggest.

[2021-12-02 20:58] tomvandig commented on #108
![image](https://user-images.githubusercontent.com/49716596/144502005-821d4fa7-0afd-4ccf-9005-44bd6cbec696.png)
![image](https://user-images.githubusercontent.com/49716596/144502063-f2d23260-2bdb-44a6-b833-3a4743e5b071.png)
Both these files will be fixed in the next release

[2021-12-02 21:24] tomvandig commented on #108
Fixed in 0.0.30, please reopen if more issues arise.

[2021-12-02 21:24] #108 closed

[2021-12-02 21:26] tomvandig commented on #86
Took a while, but the halfspace problems are fixed in the latest version 0.0.30

There's still a problem in the model remaining, 1 triangle appears to disagree with my booleans.

![image](https://user-images.githubusercontent.com/49716596/144505614-a1649372-52c9-4eb8-8056-f627b88847a5.png)
![image](https://user-images.githubusercontent.com/49716596/144505631-1722156e-b943-4de9-aa74-70403d4a472f.pn

[2021-12-02 21:27] tomvandig commented on #105
PR merged, should be fixed in 0.0.30. If problems remain, please reopen the issue.

[2021-12-02 21:27] #105 closed

[2021-12-02 21:35] tomvandig commented on #99
![image](https://user-images.githubusercontent.com/49716596/144506646-7ce65462-9810-4cd3-ae42-384e1f6c136e.png)
![image](https://user-images.githubusercontent.com/49716596/144506784-6b37ee84-a79c-4994-af33-bdd687e7c301.png)
![image](https://user-images.githubusercontent.com/49716596/144506819-d7208520-64f9-4cf3-a73b-0eb41646eab4.png)

These look fixed now, in 0.0.30. Please reopen if another issue

[2021-12-02 21:35] #99 closed

[2021-12-02 21:36] #75 closed

[2021-12-02 21:37] #68 closed

[2021-12-03 08:19] favreau84 commented on #86
@tomvandig , wahou !!! This is fantastic !!!!
This one triangle is the small necessary imperfection to bring beauty to the model :-)
Can't wait to use it in CAPLA :-) it seems that web-ifc-three (0.0.87) is still using 0.0.29

[2021-12-03 19:16] tomvandig commented on #109
Hi, I could maybe auto-generate somehow which IFC types are referenced in the code, which would in turn give an indication that they are, at least to some extent, supported. However, by that metric the lib has supported certain types for many months even though they are not yet correctly implemented (example: sweptsolids).

What I can say is that we currently work from the 4.2 spec and so from a p

[2021-12-07 21:25] cesarecaoduro opened #113 "Large model load warnings and error"
Shared the model for testing in private message on discord.
Takes about 30 minutes to load and, at the end of the process, the model doesn't show up.
Would be interesting to have more detailed logs of the parsing process (they all come in one line...) with more information about the element class and the reason for failing.

[2021-12-09 20:16] cubalibre opened #115 "Module not found...(win10)"
![Cattura](https://user-images.githubusercontent.com/904508/145470560-e02b9c3e-bd70-409e-b347-0f9db344a5ec.JPG)
When I test the sample..... in folder examples/nodejs I have a error:

Process exited with code 1
C:\Program Files\nodejs\node.exe .\index.js
Uncaught Error: Cannot find module '../../dist/web-ifc-api-node.js'

[2021-12-10 09:42] #115 closed

[2021-12-10 09:42] cubalibre commented on #115
Solved

[2021-12-11 17:29] josesoutoleon opened #116 "Absolute object placement"
Actually is possible to get object placement coordinates wich are relative to another object, parent object.
Some times is very useful to know what is the absolute object placment referred to project placement coordinates.

So please add an absolute object placement property to objects in order to get it.

A more generic implementation woul be to get absolute placement not only referred to project

[2021-12-13 08:25] UUTek opened #117 "IFC File without IFCSite"
Autodesk Civil 3D generated IFC files (v. IFC 2x3, IFC4, IFC4x1) does not have IFCSite().  The render of this file is not correct on web-ifc viewer.

[2021-12-14 20:06] favreau84 opened #119 "Testing a 200MB model • several warnings in the console"
@tomvandig , here is a 200MB that takes several minutes to load.  A lot of warnings are displayed while loading. It is a good file example to test a loading indicator (#104 ).

The model can be dowloaded from this[ Google drive location](https://drive.google.com/file/d/1ufKEZblNkBIfd5_u-Jht4fb6bG5ipuw6/view?usp=sharing)

<img width="1507" alt="stop at 30680" src="https://user-images.githubusercont

[2021-12-15 13:56] pablo-mayrgundter opened #120 "web-ifc@0.0.30 console logs 0.0.29"
Found it in the wasm too.. not sure if this is just a label diff or actual older version.

[code]

[2021-12-15 21:19] favreau84 opened #121 "Some pipe geometries not displayed"
Open this model : [VE_RT1801-EQ-D-FC-150_AIR_PRIMAIRE_V2.ifc.zip](https://github.com/tomvandig/web-ifc/files/7722753/VE_RT1801-EQ-D-FC-150_AIR_PRIMAIRE_V2.ifc.zip)

Some pipes geometries are not displayed. Here the expected result

![model](https://user-images.githubusercontent.com/18169247/146266362-d13b8d5f-18c9-4dec-9319-6bbb398715ec.png)

[2021-12-16 19:30] dlabz commented on #121
More examples of the same issue.
https://drive.google.com/file/d/1A1f6MvuzzV2cJ0pvbN1qiDVcDx6tCXue/view?usp=sharing

[2021-12-20 10:11] yermolim opened #123 "Some model meshes not loading"
Trying to import the model using API (web-ifc@0.0.30). As a result, some meshes are not imported.

That is how it looks in three.js:
<img width="807" alt="image" src="https://user-images.githubusercontent.com/39064665/146749049-7e12526f-bc63-4b9b-905a-dc6acbe64ab4.png">

That is how it should look (screenshot from Xbim Xplorer):
<img width="625" alt="image" src="https://user-images.githubuserconte

[2021-12-20 10:33] dlabz commented on #123
Seems they are all `IfcElementProxy` ->`IfcClosedShell` -> `IfcFacetedBrep` -> `IfcSweptSolid`

[2021-12-20 11:28] dlabz commented on #123
Seems the missing elements load just fine in the web-ifc-three helloworld viewer...

https://ifcjs.github.io/hello-world/examples/web-ifc-three/helloworld/

[2021-12-20 11:37] yermolim commented on #123
hmm. you're right. then I will look for the source of the problem on my end. maybe something wrong with my API calls. thanks for spending your time. and sorry for the disturbance. 😞 I'll close this, at least for now.

[2021-12-20 19:12] yermolim commented on #123
Tried to find out if something is wrong on my end but failed. I found out that FlatMesh.geometries.size() is equal to 0 for the problematic elements. So I can't get the geometry I need. What is the reason for such behavior?

That's my IFC import code using web-ifc API:

[code]
That's a simplified version of what I've seen in IFCLoader from three.js, and it matches my project requirements (I need o

[2021-12-20 20:07] tomvandig commented on #120
Fixed in 0.0.31 and prevented for the future by including the version-bump script in the release script :)

[2021-12-20 20:07] #120 closed

[2021-12-20 20:31] tomvandig commented on #123
This is a bug in the library, will update when I know more.

[2021-12-20 20:36] tomvandig commented on #123
Looks like I made a bad assumption about string lengths, should be easy to fix.

[2021-12-20 20:50] tomvandig commented on #123
Will be fixed in 0.0.32

[2021-12-20 20:57] tomvandig commented on #123
0.0.32 released

[2021-12-20 20:57] #123 closed

[2021-12-20 21:35] jonas32 commented on #123
I have a similar (or the same maybe) problem with the "unexpected mesh type" error messages and 0.0.32 did not solve it for me.
Sadly, the ifc file belongs to a customer and is under NDA so i cant publish it here. Any Idea how i could start debugging this?
Im randomly missing elements all over the object. This should be consistent but as you see, there are many elements missing.

![image](https://

[2021-12-20 22:44] tomvandig commented on #123
@jonas32 please load the model in the viewer in this repo and open an issue with the dev console results. Those will tell me which element is not supported

[2021-12-20 23:48] jonas32 opened #125 "Advanced BREP support"
Here is the output log of the viewers dev console (related to discussion in #123)

https://pastebin.com/FQAxwZ2h

[2021-12-21 18:18] tomvandig commented on #125
Hi, these are advanced BREPs

I've currently not even considered implementing these, its quite advanced stuff.

I will reconsider this if more people request these entities, and leave the issue open.

[2021-12-21 18:38] dlabz commented on #125
Might be a good idea to return the raw IFC data for unsupported types, as there are number of libraries that could be used to generate geometry.

https://github.com/donalffons/opencascade.js/
https://polyscope.run/

[2021-12-21 18:45] tomvandig commented on #125
A user is free to request the individual IFC lines, or to recursively request those lines, this is possible in the current api. See https://github.com/tomvandig/web-ifc/blob/fe50ba5dbd654f24b782fc147e177e96279494ab/examples/usage/src/properties.ts#L8

[2021-12-30 12:30] dasviridov opened #126 "Window openings sometimes don't work"
Loading some of ifc models for houses result models being loaded without window openings. See screenshots of source ifc file in BIM Viewer and the same file in web-ifc-viewer. Source file is attached as well.

![vivaldi_qkNHUuQmk1](https://user-images.githubusercontent.com/15569157/147751794-2569def6-ffe9-42be-96c7-88da7d5d0036.png)

![bim_vision](https://user-images.githubusercontent.com/15569157

[2022-01-07 14:41] MichaelHilgers opened #127 "Can i create a empty IFC Model and write Three.js Mesh to it?"
Hello @tomvandig

Can i create a empty IFC Model and write Three.js Mesh to it?
I have create a 3d hall configurator with three.js and i want to export the complet three.js model to ifc.
https://konfigurator.ligna-systems.com/
![image](https://user-images.githubusercontent.com/12812984/148559816-e55a01db-fc59-4562-a329-82c0b09585ff.png)

@tomvandig have you any idea how i can do it, please?

Thank

[2022-01-07 17:52] tomvandig commented on #127
Hi @MichaelHilgers

I've started making this at some point in the past, but I've never completed it. Luckily this is rather simple, if you just want to export simple BREPS.

You can find my progress here: https://github.com/tomvandig/web-ifc-three/commits/export (last 4 commits).

That's a branch of web-ifc-three that exports all meshes in the threejs scene to web-ifc, and then allows the user to

[2022-01-07 18:08] MichaelHilgers commented on #127
Hi Tom

Thanks.
I send you a message on discord.

Michael

________________________________
Von: Tom van Diggelen ***@***.***>
Gesendet: Freitag, 7. Januar 2022, 18:52
An: tomvandig/web-ifc
Cc: Michael Hilgers; Mention
Betreff: Re: [tomvandig/web-ifc] Can i create a empty IFC Model and write Three.js Mesh to it? (Issue #127)

Hi @MichaelHilgers<https://github.com/MichaelHilgers>

I've started maki

[2022-01-12 21:39] favreau84 commented on #119
Hi ! any news on this issue ? I updated web-ifc-three to 0.0.102 / web-ifc 0.0.32 but still this very long loading process. Thanks in advance !!

[2022-01-14 08:57] sulhamri opened #128 "Execution time is too slow."
Hi! am doing queries to the property sets of all the elements (wall, slab, covering, ..) that are in each buildingstorey of the building,  to obtain parameters like area, thermal transmission, volume,.. but the execution time to do this part is too long (3 minutes). To obtain the property sets I put the parameter recursive = false and once I look for the property set that I want, I obtain all its

[2022-01-14 17:50] agviegas commented on #128
Querying hundreds of properties is indeed slow. Have you tried fetching the properties lazily (as your user requests them)? Another option is to create a JSON file from that IFC file that you could then use to make such big query. You can check out an example of how to do that [here](https://github.com/IFCjs/hello-world/tree/main/examples/web-ifc/ifc-to-json).

[2022-01-17 10:12] favreau84 opened #129 "[3D rendering issue] In the attached model, slabs are not rendered correctly"
# Model
[PN1540_17_EXE_MOD_448200_02_09_11SMC_IGC_V17.ifc.zip](https://github.com/tomvandig/web-ifc/files/7880964/PN1540_17_EXE_MOD_448200_02_09_11SMC_IGC_V17.ifc.zip)

# OK vs KO

![Screenshot 2022-01-17 at 11 12 19](https://user-images.githubusercontent.com/18169247/149750519-95a3e129-cd39-432a-834f-0f734069109d.png)

[2022-01-18 11:14] tomerel22 opened #130 "Chrome version"
Is it possible to fix the problem that the web-ifc doesn't support Chrome V68?
Thanks!

[2022-01-18 11:48] tomvandig commented on #130
What kind of issue are you facing?

[2022-01-18 14:04] tomerel22 commented on #130
I can't use web-ifc-api in chrome68, it throws me an error message.

[2022-01-18 14:05] agviegas commented on #130
If you are not more specific, we won't be able to help you at all. We need steps to reproduce the error, the error logs, etc.

[2022-01-18 15:50] vegarringdal opened #131 "BUG: IFC mappedItem"
hi @tomvandig

Unable to render this in the demo (see image below, no 2)
Was hoping to try and look more into instancing, from what I understand I will need the mappedItem type to work.
If you have used IFC and instancing before and have any tips for me, then that would be appreciated :-)

Ref
https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/annex/annex-e/mapped-shape-with-multipl

[2022-01-19 11:16] sulhamri opened #132 "Are the names for IfcRelFillsElement arrtibutes wrong?"
In the documentation of IFC the attribute names of IfcRelFillsElement  are: RelatedOpeningElement and RelatingBuildingElement. However, in the objects I get with IFC.js the attribute names are: RelatingOpeningElement and RelatedBuildingElement. This could cause a confusion.

[2022-01-20 17:21] arturred opened #133 "C API or .NET wrapper"
Hi
I would like to use this library in other languages but cannot use C++ directly (Delphi, .NET). Is there a wrapper or C API header that exposes the minimum functionality to open IFC files and view them in 3D?

[2022-01-20 23:15] simon-gd opened #134 "Incorrect Rendering Issue"
Attaching a screenshots and IFC model of a example Solibri buildings that web-ifc seems to have trouble with.

![web-ifc-three](https://user-images.githubusercontent.com/57882634/147614593-6c94f96d-8571-4920-ad6c-5d74fc7c271d.png)

![Same model in BIM Vision](https://user-images.githubusercontent.com/57882634/147614596-902d637e-f195-471a-820b-b016e5f54883.png)

[Solibri.Building.zip](https://githu

[2022-01-21 03:58] dasviridov commented on #126
@tomvandig, any updates on this issue?

[2022-01-21 08:44] thmax opened #135 "Strange behavior for materials rendering"
Hey !
I'm having an issue with the materials when i use the ifcLoader from web-ifc-three.
On the first photo, you can see some materials'color is white (i also trie with the viewer and it looks the same).
If I load the same model on Trimble, the materials are fine (second photo).

![image](https://user-images.githubusercontent.com/52961165/150495084-8ea79779-056f-49ad-91f0-8a52d17d8d5b.png)
![imag

[2022-01-21 09:48] beachtom opened #136 "Node example incorrect"
Hi,

I attempted to implement some batch processing using node js. The example code has these lines in it:

const ifcData = fs.readFileSync(filename).toString();
await ifcapi.Init();
let modelID = ifcapi.OpenModel(ifcData);

but this produced errors as it seems OpenModels expects a typed array. So instead I had to change to:

const ifcData = fs.readFileSync(fileName);
await ifcapi.Init();
let mode

[2022-01-21 14:21] tomerel22 commented on #130
I'm trying to loading an ifc model in [Online3DViewer](https://github.com/kovacsv/Online3DViewer) that uses yours code to loading ifc model.
I'm using chrome 68 and when I tried to load a model the viewer is loading with no response, while I'm doing it in chrome 77 for example, the same model has been loaded. Do you have any idea how can I change maybe packages or something like that for using you

[2022-01-23 18:05] tomerel22 commented on #130
Uncaught (in promise) RunTimeError: memory access out of bounds
at wasm-function[843]:34
at wasm-functions[506]:1
at Modules.__wasm_calls_ctors

Do you recognize the error?

[2022-01-24 13:53] simon-gd opened #137 "IFC with no materials fails to load"
A simple IFC file that doesn't have properties or materials doesn't load. Since it seems to open fine in BIM Vision, I assume that the IFC is ok, but not 100% sure. Might be worth investigation
<img width="1587" alt="Screenshot 2021-11-30 09 51 34" src="https://user-images.githubusercontent.com/57882634/144072114-e88a1d22-3707-4873-803c-0628e89ab81d.png">

This zip contains two version of the mode

[2022-01-26 14:37] favreau84 opened #138 "Modify & export one ifc file in the context of web-ifc-three.js"
# In a nutshell
**Problem 1** : the webworkers serialization drop typing => ifcManager.getLine() doesn't return the full object.
**Problem 2**: the export in 0.0.32 is garbled.

# Context

https://discord.com/channels/799990228336115742/799990228336115745/935220750955212860

![image](https://user-images.githubusercontent.com/18169247/151183074-ea5270e8-774d-4926-ab44-33c55a4ae9bb.png)

# Why it wo

[2022-01-27 15:23] agviegas opened #139 "Infinite time taking bool operation"
You can find the model [here](https://drive.google.com/file/d/1rGrGwqqt8M_mnz8s1es3qlvaXFBFcofp/view?usp=sharing).

[2022-01-28 20:32] tomvandig commented on #138
@favreau84 The export has been fixed in WI 0.0.33, however the webworkers serialization is part of web ifc three, not this repo. Can you open a ticket there?

[2022-01-28 20:32] #138 closed

[2022-01-28 20:33] tomvandig commented on #136
Sorry about this, and thanks for letting me know. Fixed it: https://github.com/tomvandig/web-ifc/blob/main/examples/nodejs/index.js

[2022-01-28 20:33] #136 closed

[2022-01-28 20:35] tomvandig commented on #133
Hi, no there is not. Right now the major API is a bridge from cpp to js through Emscripten. The main API's in c++ are web-ifc.h and web-ifc-geometry.h, neither are C API's but it's possible to make one. If you are interested in doing this, that would be a great contribution, let me know and I can help you out.

[2022-01-28 20:38] tomvandig commented on #130
Hi, I'm sorry but I don't recognize this error. It seems that wasm is supported for chrome 68 though, so that can't be it. What is your use case? Are you using an embedded browser?

[2022-01-28 20:39] tomvandig commented on #132
I'm not sure, but these docs: https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/schema/ifcproductextension/lexical/ifcrelfillselement.htm
Use the same naming as ifc.js, isn't that correct?

[2022-01-28 20:41] tomvandig commented on #126
Hi, I'm working on a new bool algorithm, when it's in I will revisit this issue and try to resolve it.

[2022-01-28 20:42] tomvandig commented on #134
Hi, this looks like a problem where the curve sense is inverted, I've seen this before on some models. Thanks for reporting the issue, I'll take a look when I have time.

[2022-01-28 20:43] tomvandig commented on #117
Hi, do you have an example file>?

[2022-01-28 21:59] favreau84 commented on #138
Great, thanks @tomvandig ! just created the issue (cc @agviegas )

[2022-01-30 20:43] tomvandig commented on #119
![image](https://user-images.githubusercontent.com/49716596/151717064-3ec1b4ae-7112-4609-be1f-4ef46599f1eb.png)
Took a long time, but I rewrote the bool logic and this file now loads in 35 secs, can probably do much better than that in the future. I will update this when its released, hopefully soon.

[2022-01-30 20:46] favreau84 commented on #119
@tomvandig , this news is the sunshine of my day !!! 35secs, that's just awsome !! Is there a way to track the progress of these 35secs or is it still in the "loading part" to be implemented ?

[2022-01-31 08:35] sulhamri commented on #132
Hi! The names of RelatedOpeningElement and RelatingBuildingElement aren't the same. In ifc.js are RelatingOpeningElement and RelatedBuildingElement.

[2022-01-31 16:28] sulhamri opened #140 "Create function getIfcType"
In web-ifc-three there is a function called getIfcType and I'm looking for the same function (or similar) in web-ifc. @agviegas told me that he could implement it there. We are using web-ifc-api-node. Thank you.

IfcLoader.IfcManager.getIfcType (
                        modelID: number,
                        id: number,
                        ): string;

[2022-02-01 09:04] thmax commented on #135
Any news on this ?

[2022-02-02 17:57] favreau84 opened #141 "[3D rendering issue] In the attached model, bracing bars are not displayed correctly"
## Model

[20220202-Couverture Grande Trémie.ifc.zip](https://github.com/tomvandig/web-ifc/files/7988930/20220202-Couverture.Grande.Tremie.ifc.zip)

## OK vs KO

<img width="569" alt="Screenshot 2022-02-02 at 18 51 39" src="https://user-images.githubusercontent.com/18169247/152209709-84127f28-ccb2-4fa6-bd99-c195a50099a8.png">

## Other geometry pb
- https://github.com/tomvandig/web-ifc/issues/129

[2022-02-03 14:03] fs-innonova opened #142 "IFC file not rendering [RangeError: Array buffer allocation failed] (128MB ifc file size)"
This file is not rendering, maybe because is to big
https://www.dropbox.com/s/kqpp94f21djlswc/Ferroflex.ifc.zip?dl=0

this is the error:
![image](https://user-images.githubusercontent.com/93779923/152357108-b6bce1dd-edc5-4cc3-9955-34bbac12050c.png)

I can also see that Chrome goes from 500MB till 6.95GB so maybe is some memory leak

Please let me know if I can help debugging the issue :)

Thank yo

[2022-02-11 20:41] tomvandig commented on #135
Fixed in 0.0.34
![Screenshot 2022-02-11 214052](https://user-images.githubusercontent.com/49716596/153667141-5dddd80f-6891-4a4f-9ded-a218586d83c5.png)

[2022-02-11 20:41] #135 closed

[2022-02-13 17:47] kovacsv opened #143 "Wrong materials in 0.0.34"
[Online3DViewer](https://github.com/kovacsv/Online3DViewer) regression tests failed after updating to web-ifc 0.0.34. The same error happens in the official demo as well.

Examples (0.0.33 vs. 0.0.34):

<img src="https://user-images.githubusercontent.com/2034315/153767547-f9fd6579-679a-4e2b-bedf-24dea4147b6e.png" width="400"><img src="https://user-images.githubusercontent.com/2034315/153767584-004

[2022-02-13 19:23] tomvandig commented on #143
Cool, thanks for the notice!

[2022-02-15 13:40] tomerel22 opened #144 "displaying my ifc 4"
hi! I can't display the walls of my model.
![Screenshot from 2022-02-15 15-31-06](https://user-images.githubusercontent.com/80748720/154073213-27a672d1-3a54-4500-b7e0-44d3dde0f890.png)
I attached my file with .txt at the end but you can remove the txt to display the model
[building1.ifc.txt](https://github.com/tomvandig/web-ifc/files/8069533/building1.ifc.txt)

[2022-02-16 01:50] ChidamSG opened #145 "Issues with the curved geometry"
Version: 0.0.32
Curved geometry comes in as a full circular element. Looks like the Boolean operation was not working.
![Curved Element](https://user-images.githubusercontent.com/99774943/154180613-9249ada1-cb40-4509-ba1d-63df4a4843eb.png)
https://drive.google.com/file/d/1CPY6LwPhOnqHTTdCBkBkCcCV0KWlWm7y/view?usp=sharing

Note: It works fine when I re-export the IFC file.

[2022-02-16 12:53] elyrank opened #146 "IFCTEXT with length > 256: the last 256 chars get cut of the text"
I have this IFCTEXT for example:
#654=IFCPROPERTYSINGLEVALUE('WWW XY Polygon',$,IFCTEXT('634515a696_750109a908z634519.707_750124a88z634551a707_750124a88z634551a707_750080.88z634499.796_750067.937z634483.721_750036.587z634558.04_750031.391z634558.482_750031.723z6346510123456789001234567890AAAAAAAAAABBBBBBBBB0123456789C0123456789D0123456789E4567123'),$);

it fails because the length > 256
the result

[2022-02-24 12:19] agviegas opened #147 "Geometry not correctly processed, takes forever to load"
Link to the file [here](https://drive.google.com/file/d/19yOA71nomOdZQ6rZx66VRriGSqFPU05d/view?usp=sharing).

[2022-03-11 11:50] SpiderProjectDeveloper opened #149 "TypeError: Cannot read properties of undefined (reading 'index')"
Hello!
An exception occurs while loading an ifc file (the one attached) in ifcLoader.load
![image](https://user-images.githubusercontent.com/79970639/157861368-fcee2cd2-de31-4a90-a00e-89b20f785d19.png)

[ifc.zip](https://github.com/tomvandig/web-ifc/files/8231582/ifc.zip)

Thank you!

[2022-03-15 05:37] myshuji commented on #117
[ifcsite.zip](https://github.com/tomvandig/web-ifc/files/8250469/ifcsite.zip)

[2022-03-24 20:12] MrGaribaldi opened #151 "ifcapi.OpenModel seems to ignore config with COORDINATE_TO_ORIGIN:true"
I'm trying to combine different IFC-models with other data sources, and so need to get the coordination matrix for the models.
Using the online version here https://ifcjs.github.io/web-ifc-viewer/example/index and it will extract the matrix as expected.
But I can't replicate the behavior with web-ifc, using b61bc028a4773f7bd6c23e73f6a5c2daf50cbe51

Changing line https://github.com/tomvandig/web-if

[2022-03-30 08:59] kovacsv commented on #143
Here they are:
https://github.com/IFCjs/test-ifc-files/blob/main/Others/479l7.ifc
https://github.com/IFCjs/test-ifc-files/blob/main/Others/haus.ifc

[2022-03-30 13:49] Manriss commented on #117
Same problem here.

[2022-03-30 23:00] lewibs opened #152 "Fails to load certain parts of an IFC"
Attached are the screenshots I took of the issue. When I loaded the ifc into the browser It failed to load the yellow components that are shown in the BIMViewer picture.
https://photos.app.goo.gl/5SvUep3zwMsAwmzY9

Here is the ifc that was loaded. I had the same issue with a few other files.
https://drive.google.com/file/d/1UFl0hz8nkoh_-oDxJ_xZxa6fc24mm3KB/view?usp=sharing

[2022-04-06 11:31] RedTurkey commented on #28
Hello there, indeed this problem occurred for us.
We build our typescript for server-side with webpack and unfortunately, when we try to run the code, the module cannot find fs, which obviously prevent the execution.
We are going to try to find a workaround and come back to you.

[2022-04-06 18:08] harrycollin commented on #28
This shouldn't be a problem server-side as long as you're running node.

[2022-04-06 22:44] agviegas commented on #28
So you bundling your server-side backend app with webpack, right? If the app is meant to be used in node, you should use the node bundle. Maybe you need to force webpack to use it?
![image](https://user-images.githubusercontent.com/56475338/162084464-05ae468c-20de-4433-ad48-d87aceb1e81c.png)

[2022-04-07 11:40] RedTurkey commented on #28
Ha, you might be right about this, I will check it and come back to you.

[2022-04-07 12:06] RedTurkey commented on #28
I'm coming back to you after checking several thing, we have noticed when we build that we have this warning that might be linked to this problem :
[code]

[2022-04-13 07:33] favreau84 commented on #119
@tomvandig , @agviegas , is this enhancement going to be released soon ? I was so enthusiastic to hear that the model could be loaded in less than 35sec !!

[2022-04-13 08:33] agviegas commented on #119
Hi @favreau84 the main reason not to publish the version yet is the [material regression in version 34](https://github.com/tomvandig/web-ifc/issues/143). We might undo those changes and then publish. I'll try to make some time this weekend.

[2022-04-25 04:03] allenwwg opened #155 "Is it ok to load ifc file incrementally?"
Let's assume these steps:
1. load an IFC file into Web-IFC viewer
2. Some edit operations (maybe adding, deleting) by other application to the IFC file
3. load the IFC file again
4. question is: Is it possible just load the changes?

I looked into the code, an ifc file is loaded as a mesh model which contains geometries, is it ok do something to the mesh model to implement incremental loading?

[2022-04-26 22:04] agviegas opened #156 "Unexpected mesh type"
Model [here](https://drive.google.com/drive/folders/1R8PTPd2_T59qXEHCbboR8JtTKRbhyUdG?usp=sharing).

[2022-04-26 22:14] agviegas opened #157 "Unsupported curve type"
The model is [here](https://drive.google.com/file/d/1a1lW9nxqBIjaduMnBvtn3H756E5Z5Rlk/view?usp=sharing).

[2022-04-28 07:47] RedTurkey commented on #55
Just commenting to tell that I also encountered this problem, but it seems that it was because I was using an previous version of Node.js (10....), and when switching to a more recent version (16.15.0), it worked perfectly.

[2022-04-28 07:48] RedTurkey commented on #28
I resolved my problem by using the correct api (in a previous version of web-ifc-three, it was calling the front version in node.js instead of the node version).

[2022-04-29 10:40] QuimMoya commented on #144
I think the problem is in the IFC file, in the line:
- > #1101= IFCWALLSTANDARDCASE('0D727We9H4qRujuveGx02c',#12,'SW - 025',$,$,#9020,#9057,'0D1C21E0-A094-44D1-BE2D-E39A10EC00A6');
References to #9020 and #9057 are missing in the IFC file, so it can't create the wall

[2022-04-29 10:45] agviegas commented on #144
![image](https://user-images.githubusercontent.com/56475338/165930224-3a7272c6-46c1-4bcb-9ea4-662f0c8180b6.png)

BIMvision doesn't open this either. The problem is indeed in the IFC!

[2022-04-29 11:08] thmax commented on #144
That's true for one wall (screenshot from Trimble)
But others shoud be displayed right ?
![image](https://user-images.githubusercontent.com/52961165/165933347-2d35722c-ca06-46b6-8ac8-d0c708ab2b64.png)

[2022-04-29 14:50] agviegas commented on #144
Hum, fair enough. We'll try to add a catch when there's that kind of error!

[2022-05-04 08:35] Undianer commented on #156
![web-ifc_vs_ifcopenshell](https://user-images.githubusercontent.com/10446556/166646590-ba041c86-80e5-4cdb-ba47-41bf4db3d5e7.png)
Same problem here. On the left you see the loaded ifc from your demo viewer. On the right you see the ifc loaded by blenderbim which is based on ifcopenshell.
[Link to file](https://www.transfernow.net/dl/20220504rBAKGY6t) (Link is available for 7 days)
I hope there is

[2022-05-04 08:39] Undianer opened #159 "Some meshes are missing"
![web-ifc_vs_ifcopenshell](https://user-images.githubusercontent.com/10446556/166646590-ba041c86-80e5-4cdb-ba47-41bf4db3d5e7.png)
Same problem here. On the left you see the loaded ifc from your demo viewer. On the right you see the ifc loaded by blenderbim which is based on ifcopenshell.
[Link to file](https://www.transfernow.net/dl/20220504rBAKGY6t) (Link is available for 7 days)
I hope there is

[2022-05-04 22:33] agviegas commented on #156
Link [here](https://drive.google.com/drive/folders/1kf-cgH8bECbh9XS_mZXtTeilyPOlcKKD?usp=sharing) (only available for maintainers).

[2022-05-09 04:41] QuimMoya commented on #143
We made some fixes and now we get similar results with other viewers. We will publish changes after reviewing.

[2022-05-09 09:43] QuimMoya commented on #152
The problem is in the IFC file, there are entities that are in lower case
...
#2236=**IfcColumn**('3xCJf4w5T5eOsxS6AsIGQG',#2205,'GENSEC 1 of FRMWORK /B01_LEVEL_01_COLUMNS',$,'BS-UC305x305x137',#2225,#2235,'=2013286654/30950',.USERDEFINED.);
#2205=**IfcOwnerHistory**(#2202,#2204,$,.NOCHANGE.,$,$,$,1637178735);
#2202=**IfcPersonAndOrganization**(#2200,#2201,$);
...

It should be UPPERCASE. The proo

[2022-05-09 10:35] QuimMoya commented on #157
The IFC file is corrupt:

`#1077429= IFCTRIMMEDCURVE(#1077426,(IFCPARAMETERVALUE(0.),#1077384), IFCPARAMETERVALUE(179.03041),#1077388),.T.,.CARTESIAN.);`

Here there is a reference to a curve called #1077426 but the line #1077426 does not exist

[2022-05-09 17:55] leobasement commented on #156
Hello everyone,

I am experiencing same/similar effects and for now it seems to me to depend on what kind of model view definition is used to export the IFC file. Double checked the exported files in BIMvision without any problems. Atm I am doing some research to get a deeper understandig of the model view definitions and maybe find out what could cause the problem in "our" ifc.js viewers.

Short

[2022-05-10 10:28] agviegas commented on #152
Solved [here](https://github.com/tomvandig/web-ifc/pull/161). Will be available from 0.0.35.

[2022-05-10 10:28] #152 closed

[2022-05-11 09:13] clement-procal opened #162 "Some objects are wrongly placed"
Hello, I tried to import an Ifc file, and I noticed that there are some issue with some objects position. I can't really fix this by myself, so I hope that somebody can have a look :)
IFCjs:
![Capture d’écran 2022-05-11 105420](https://user-images.githubusercontent.com/92861638/167813248-e012828b-fca4-43c5-86f5-f4b5ce4e3712.png)
Expected:
![Capture d’écran 2022-05-11 105444](https://user-images.gi

[2022-05-11 20:50] leobasement commented on #156
Update:

Modeltool: Revit 2022, IFC exporter version: 22.0.2.392

Example in Revit:
![revit_wall](https://user-images.githubusercontent.com/100952462/167939273-35e4375b-03de-47ce-81b6-462c33cb49c2.png)
Result in BIMvision
![bimvision_wall_v](https://user-images.githubusercontent.com/100952462/167940793-2bbaf35e-b6cb-4b31-b641-37362ca91f31.png)
Result in my app:
![ifcjs_wall](https://user-images.gi

[2022-05-15 15:37] agviegas commented on #159
Link [here](https://drive.google.com/drive/folders/1kf-cgH8bECbh9XS_mZXtTeilyPOlcKKD?usp=sharing) only for maintainers.

[2022-05-15 15:39] #157 closed

[2022-05-15 15:50] agviegas commented on #155
Hi @allenwwg,

No, sorry, right now web-ifc can only load full IFC files. As you know, what we usually call "IFC file" is a "STEP file", which is very inconvenient for this kind of things.

I don't know what you are trying to build, but if you give us more details we'll try to give you some alternative. Right now we are implementing a new system that converts the STEP file to a JSON (properties) a

[2022-05-15 15:57] agviegas commented on #151
Hi @MrGaribaldi ! If I understood you correctly, you say that it works in web-ifc-viewer but not in web-ifc, right?

As you might know, this library has 3 layers. From outside to inside: web-ifc-viewer, web-ifc-three and web-ifc. You should be able to reproduce it if you see what we did in [web-ifc-viewer](https://github.com/IFCjs/web-ifc-viewer/blob/54a6c1a34e106954b958925f9d0438daeb227545/viewer

[2022-05-15 16:04] agviegas commented on #149
Hi @SpiderProjectDeveloper ! I'm checking it and it looks like the IFC you attached only has a single point. Is that correct? Right now web-ifc is designed to output faces.

This is the whole IFC of the link:

[code]

[2022-05-15 16:55] agviegas commented on #140
Done! Will be available from the next version (`0.0.35`).

[2022-05-15 16:55] #140 closed

[2022-05-15 17:04] agviegas commented on #133
Hi, I'm closing this for now. If in the future there's enough interest from multiple people or you are willing to help us with this, feel free to open it again.

[2022-05-15 17:04] #133 closed

[2022-05-15 17:21] agviegas commented on #128
I'm closing this for now. Exporting to JSON should solve this issue. If you need more speed, you need to use a database, as querying raw data with databases can't be as efficient as a proper database (that's why the exist). If you have any other question regarding this, let us know!

[2022-05-15 17:21] #128 closed

[2022-05-15 17:25] agviegas commented on #132
Hi, RelatingOpeningElement and RelatedBuildingElement is the way it's defined in the buildingSMART documentation. I'm closing this!

![image](https://user-images.githubusercontent.com/56475338/168485804-332b85ab-fc25-45b7-ae58-99d31e60c00a.png)

[2022-05-15 17:25] #132 closed

[2022-05-15 17:29] agviegas commented on #130
As it looks like this error doesn't belong to this repository, I'm closing this.

[2022-05-15 17:29] #130 closed

[2022-05-15 17:42] agviegas commented on #119
We will release the new version next week. As this is already resolved, I'm closing this. Also, keep in mind the new glTF approach, which would allow you to load that kind of model in less than 10 seconds. 🙂

[2022-05-15 17:42] #119 closed

[2022-05-15 17:45] agviegas commented on #116
Hi, I think we already talked about his and I resolved this issue for your use case, so I'm closing this!

[2022-05-15 17:45] #116 closed

[2022-05-15 17:47] agviegas commented on #113
Hi @cesarecaoduro, could you please send us the model again? We now have resources and are trying to resolve all the issues of this repository. I think this is due to boolean operations, hopefully this will be solved next week. Cheers!

[2022-05-15 19:19] agviegas commented on #102
Fixed!

![image](https://user-images.githubusercontent.com/56475338/168490159-af9b7bc4-27fd-498c-af55-cb384e131bf3.png)

[2022-05-15 19:19] #102 closed

[2022-05-15 19:20] #101 closed

[2022-05-15 19:30] agviegas commented on #96
This was already merged in the library, so I'm closing this.

[2022-05-15 19:30] #96 closed

[2022-05-15 19:39] agviegas commented on #91
Hey @loicroybon I'm closing this for now. If you want to help us solve this, feel free to reopen it again and provide more information!

[2022-05-15 19:39] #91 closed

[2022-05-15 19:43] agviegas commented on #90
Hi @penuttw0, I'm closing this issue. If you provide us with IFC files, feel free to reopen this again. Cheers!

[2022-05-15 19:43] #90 closed

[2022-05-15 19:55] #86 closed

[2022-05-15 20:15] agviegas commented on #79
Hey @simpleSketche we now have resources to solve all the issues of this repo. Can you please give us access to the file? We have requested it through the ifc.js.contact@gmail.com account. Cheers!

[2022-05-15 20:16] agviegas commented on #71
Hey @KiWiGiW is this still happening? If so, can you please resend the model? We no have resources to fix all the issues of this repository. Cheers!

[2022-05-15 20:17] agviegas commented on #65
Hey @pablo-mayrgundter we now have resources to fix all the issues of this repository. Is this still happening? If so, could you provide more details? Cheers!

[2022-05-15 20:22] agviegas commented on #55
Hi,  this should be solved now, so I'm closing this issue.

![image](https://user-images.githubusercontent.com/56475338/168492369-c38c19e6-6be5-4fdc-9c28-3ef1aca09e8f.png)

[2022-05-15 20:22] #55 closed

[2022-05-15 20:24] agviegas commented on #52
Hey @vegarringdal is this still happening? If so, could you please send me the models? Cheers!

[2022-05-15 20:26] agviegas commented on #51
Hey @tomvandig we are using the issues to solve bugs mainly, so to have this section as clean as possible I'm closing this one (for now 🙂).

[2022-05-15 20:26] #51 closed

[2022-05-15 20:31] agviegas commented on #43
Solved by the amazing @tomvandig 🙂

![image](https://user-images.githubusercontent.com/56475338/168492652-f2fbfdad-220f-4615-87fc-868a56db4451.png)

[2022-05-15 20:31] #43 closed

[2022-05-15 20:31] agviegas commented on #38
This is already done and working!

[2022-05-15 20:31] #38 closed

[2022-05-15 22:17] agviegas opened #164 "Integration with elalish/manifold"
## 📋 GENERAL:

- Required skills: `C++`.
- Bounty: $2000.

________________________________________________________________________

## ⚔ CHALLENGE:

One of the greatest challenges of BIM software are CSG operations, also known as boolean operations. Until now, we have relied on our own implementation, but it's a complex topic and it demands a lot in terms of maintainance.

Short time ago, we were

[2022-05-15 23:08] agviegas commented on #125
This issue is now a bounty. Whoever solves this will get $500. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:10] agviegas commented on #159
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:51] agviegas commented on #156
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:52] agviegas commented on #146
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:52] agviegas commented on #144
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:52] agviegas commented on #141
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:53] agviegas commented on #131
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:54] agviegas commented on #117
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:54] agviegas commented on #111
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:54] agviegas commented on #110
This issue is now a bounty. Whoever solves this will get $200. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:56] agviegas commented on #145
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:56] agviegas commented on #142
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:56] agviegas commented on #137
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:57] agviegas commented on #121
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:57] agviegas commented on #104
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:58] agviegas commented on #103
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:58] agviegas commented on #88
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:58] agviegas commented on #83
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:58] agviegas commented on #80
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:59] agviegas commented on #58
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:59] agviegas commented on #44
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-15 23:59] agviegas commented on #34
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-16 00:00] agviegas commented on #21
This issue is now a bounty. Whoever solves this will get $100. More information [here](https://bounties.ifcjs.io/).

[2022-05-16 08:21] QuimMoya commented on #144
We added some improvements:
- Now it sends a warning when some express lines are missing
- It is able to read IFCINDEXEDPOLYCURVE when it has a curve indices list

![image](https://user-images.githubusercontent.com/12625508/168549976-d2a9a4f1-d294-40b7-b054-265bedba5ba3.png)

[2022-05-16 08:42] QuimMoya commented on #141
I think we have already solved this issue but i have to verify it
![image](https://user-images.githubusercontent.com/12625508/168553071-276acdab-4021-4310-a893-1c79305e96a7.png)

[2022-05-16 18:49] aka-blackboots commented on #104
I'll like to take this bounty. Please let me know the process.

[2022-05-17 03:30] QuimMoya commented on #146
Hi, in APOGEA we are taking care of this bounty

[2022-05-17 06:39] QuimMoya commented on #156
APOGEA is interested in this bounty, we will try to solve it. I think a week is enough to solve it.

[2022-05-17 06:41] dlabz commented on #21
Solved! At least for @MenderBlender ...

The bug was caused by a [change between IFC2x3 and IFC4](https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC1/HTML/schema/ifcgeometryresource/lexical/ifccompositecurve.htm) for type property `SelfIntersect` in `IfcCompositeCurve`  which used to be `LOGICAL` (`.T.`) and is changed to `IfcLogical` (`IFCLOGICAL(.T.)`).

For file to load without error, the fo

[2022-05-17 07:12] dlabz commented on #121
same as #21

[2022-05-17 07:36] QuimMoya commented on #125
This issue is related to #156 and we are solving #156

[2022-05-17 11:17] QuimMoya commented on #131
Apogea here, we expect to solve this bounty today

[2022-05-17 12:49] QuimMoya commented on #131
Solved, there was a problem parsing the IFC

...
#33= IFCRECTANGLEPROFILEDEF(.AREA.,'1m x 1m rectangle',**$**,1000.,1000.);
...

This $ caused a lot of trouble because IFC.js does not find any location for the object. By creating a default location the problem gets solved.

Now the model is properly represented and scaled as a mappeditem

Scale 0.5
![image](https://user-images.githubusercontent.co

[2022-05-17 13:04] QuimMoya commented on #131
There are still some differences with other viewers i will continue to work on it.

[2022-05-17 20:05] QuimMoya commented on #131
Finally, it seems to work properly now

![image](https://user-images.githubusercontent.com/12625508/168900368-c95bca11-65b1-41c7-8384-765f05bdbb91.png)
Comaprison BimVision vs IFC.JS

[2022-05-19 04:39] aka-blackboots commented on #104
Does this issue need a [Progress Bar](https://www.w3schools.com/howto/howto_js_progressbar.asp) something like this with proper details?
If yes please let me know @agviegas

[2022-05-19 06:42] GuyOnsight commented on #110
May I try to take this and start working on it ?

[2022-05-19 06:44] GuyOnsight commented on #111
May I try to take this and start working on it?

[2022-05-19 13:15] QuimMoya commented on #159
This issue is part of advanced breps, like #125 and #156.

[2022-05-20 14:50] pablo-mayrgundter commented on #65
Ok, good to hear!

Yes, this reproduces in our live version:

https://bldrs.ai/share/v/gh/bldrs-ai/buildrs.github.io/master/test1/test_energieausweis_abstractBIM.ifc

with older versions from you:
  ***@***.***
  ***@***.***
  ***@***.***

I calso reproduced locally with most recent NPMs from your project:
  ***@***.***
  ***@***.***
  ***@***.***

Again, expected behavior is to be able to see the

[2022-05-20 22:57] agviegas commented on #111
It's yours @GuyOnsight!

[2022-05-21 01:25] makc commented on #164
hello there, I am just curious what kind of apis does ifcjs need from emscripten port, and where can I check the current code that needs to be replaced in order to tap into that port? I did dabble in emscripten ports in the past, I think I was the 1st to [compile assimp to js](https://makc.github.io/assimp2json/) 6 years ago, for example, but Im not sure if I could take on this one 😅

[2022-05-21 10:58] tomerel22 commented on #144
Can you send a link to your project? @QuimMoya

[2022-05-21 14:42] agviegas commented on #159
@QuimMoya we'll merge all of this in a single bounty!

[2022-05-21 14:45] agviegas commented on #125
Merged with the other advanced breps bounties!

[2022-05-21 14:47] agviegas commented on #156
Merged with the other advanced breps bounties as instructed by you @QuimMoya !

[2022-05-21 15:05] agviegas commented on #21
@dlabz great! Can you create a PR?

[2022-05-21 16:11] agviegas commented on #104
@aka-blackboots no! You just need to:

1. Find out where the ifc elements geometry are generated
2. Allow the user to give a callback function to web-ifc. That callback function should look like this: `(progress, total) => void`
3. Call that callback function each time a new ifc item is generated, passing the index of the current item and the total

If you have any questions on the way, let me kno

[2022-05-21 16:14] #149 closed

[2022-05-21 16:14] #155 closed

[2022-05-22 12:50] agviegas commented on #143
Solved [here](https://github.com/tomvandig/web-ifc/pull/160).

[2022-05-22 12:50] #143 closed

[2022-05-22 12:53] #144 closed

[2022-05-22 12:53] #131 closed

[2022-05-23 11:35] QuimMoya commented on #125
In APOGEA we are solving this issue, along with user Dlabz.

[2022-05-24 00:24] agviegas commented on #164
Hey @makc we have a video explaining how the library works, it'll probably clarify some of your questions. If you give us a mail, we'll give you access. Cheers!

[2022-05-24 06:30] agviegas commented on #164
@makc talking with Tom, the original author: "he needs to port the boolean API and everything that is needed to use it, so transforming meshes to the internal format of Manifold. Inside web-ifc he needs to call that lib from the web-ifc-bool file, and potentially modify also web-ifc-geometry. If he gets the boolean subtract working using Manifold, in the browser of course, he's done"

[2022-05-27 02:48] Moult opened #170 "Add support for inverse attributes"

[2022-05-27 06:11] makc commented on #164
@agviegas oh you actually replied, I missed the notification. I think you said somewhere you have a discord for bounties - it would be easier to talk there

[2022-05-27 07:08] brunopostle opened #171 "Add support for IfcSurfaceCurveSweptAreaSolid"
IFC.js doesn't render IfcSurfaceCurveSweptAreaSolid geometry. See discussion here: https://twitter.com/topologicBIM/status/1529736071076106241?t=c0qRyBK2FVaiX597unteJg&s=19

[2022-05-27 07:20] Shane-oo opened #172 "Unsupported curve and Unexpected surface, token type leading to random shapes"
Random decagons getting produced and console logs of: "web-ifc-viewer.js:1316 Unsupported curve type" , "web-ifc-viewer.js:1316 unexpected token type, expected REF" , "web-ifc-viewer.js:1316 unexpected surface type".

Occurring in File: https://drive.google.com/file/d/1n6QUHBxGCyKE80W2jkNvswWICdZT-HtL/view?usp=sharing

[2022-05-30 06:07] Zegeri commented on #117
This example has an IFCSite step at #31947.

[2022-05-30 08:56] agviegas commented on #141
Solved in `0.0.35`!

[2022-05-30 08:56] #141 closed

[2022-05-30 08:59] agviegas commented on #119
Sorry for the delay @favreau84, we just published 0.0.35. There are tons of things solved 🙂 Bounties are speeding everything up.

[2022-05-30 13:16] hellghostx opened #173 "Wrong flat transformation for certain meshes"
For a certain meshes with expressId:
![WrongFlatTransformation](https://user-images.githubusercontent.com/26725817/170997543-58839f0a-5d08-4d22-b06f-aa05afcd8397.png)

there is a wrong flat transformation, which results in the wrong vertex positions, which results in wrong bounding box. Since the whole model is translated towards positions with enourmous units and this wrong flat transformation is

[2022-05-30 19:55] favreau84 commented on #119
Great! Thanks a lot @agviegas !!

[2022-06-01 09:19] QuimMoya commented on #159
Yes, we have partially solved this issue, but this is related to AdvancedBreps so it is being done along many other issues all at the same time.
![image](https://user-images.githubusercontent.com/12625508/171371335-02d21cfc-1757-4682-9220-d3702aca042b.png)

[2022-06-01 09:21] agviegas commented on #159
@vulevukusej yeah, it will take a little bit more time because it's complex. But it's in progress. 🙂

[2022-06-02 11:36] wujiiu opened #174 "Support Concurrent load IFC files with web worker"
Batch loading load files got same modelID and not all of the files can be displayed in the scene

<img width="913" alt="image" src="https://user-images.githubusercontent.com/31948326/171625233-e65d6afe-420a-41a3-8809-5cab9edd3f1f.png">

[2022-06-06 15:04] deadman2000 commented on #172
Maybe fixed in https://github.com/tomvandig/web-ifc/pull/175

[2022-06-07 01:52] Shane-oo commented on #172
Hey sorry from I can tell this does not fix the issue

[2022-06-08 11:36] QuimMoya commented on #137
Hi, the problem is that the IFC does not contain any IFCSHAPEREPRESENTATION with the identifier "Body", so IFC.JS does not construct any geometry.
-> #82=IFCSHAPEREPRESENTATION(#13,**'Facetation'**,'SurfaceModel',(#81));

If you replace "Facetation" by "Body" IFC.JS will read this geometry

Is it solved?

[2022-06-08 17:04] QuimMoya commented on #137
![image](https://user-images.githubusercontent.com/12625508/172675217-02373416-f069-4a33-ae63-11e85af8305b.png)
By changing all 'Facetation' by 'Body' you obtain this

[2022-06-08 17:06] QuimMoya commented on #142
I'm analyzing the problem, i think this is related to boolean operators. I will continue to study the problem

[2022-06-09 06:48] QuimMoya commented on #145
The origin of the problems seems to be here:
#414252= IFCTRIMMEDCURVE(#414251,(**#414240,IFCPARAMETERVALUE(90.)**),(#414244,IFCPARAMETERVALUE(0.)),.F.,.CARTESIAN.);

Trimming data is provided using points and values at the same time, Ifc.js was not prepared to digest that, now working on solving it.

[2022-06-09 08:14] QuimMoya commented on #145
![image](https://user-images.githubusercontent.com/12625508/172798849-8354eefd-a76e-45e6-9939-46bbb266460e.png)
Seems to be solved, still have to verify

[2022-06-09 09:58] GKucan opened #178 "example code in examples/nodejs is not executing properly"
https://github.com/tomvandig/web-ifc/blob/8fa6d0042362ffdd60be538ab0d1c207d49aee5d/examples/nodejs/index.js#L50

Hi,

When I clone your repo and try to run the examples/nodejs example on my machine locally, the code reads the example.ifc and logs the properties, but it fails when trying to write new attributes into the example.ifc with the following error message:
 TypeError: lineObject.ToTape is

[2022-06-09 10:59] QuimMoya commented on #34
Solved
![image](https://user-images.githubusercontent.com/12625508/172831755-8b4d7daa-da62-46bc-8a39-8245965e365c.png)

[2022-06-09 11:03] QuimMoya commented on #44
Solved?
![image](https://user-images.githubusercontent.com/12625508/172832343-d27ca714-646a-4a24-8698-4725628e045f.png)

[2022-06-09 13:17] QuimMoya commented on #83
I think the model is in IFC2.0, ifc.js does not support this IFC version

[2022-06-09 16:03] QuimMoya commented on #83
The IFC link is broken

[2022-06-09 16:04] QuimMoya commented on #80
The IFC link is broken

[2022-06-10 06:18] ericpasquiet opened #179 "Cannot get a bounding box for a given expressID"
Hello,

I am trying to write a command to reframe the camera of my viewer on a specific object (modelID + expressID).
To do this, I need to compute the bounding box of that object, but I have not been able to find a way.

I have tried using the subsets of web-ifc-three, by creating a subset containing this object, and then doing a "getSubset" to obtain a mesh of that particular object (and then co

[2022-06-10 07:38] hey24sheep commented on #83
@QuimMoya Hi, I am not fully aware of the versions and difference in between them. [Here is the same repository of those models](http://smartlab1.elis.ugent.be:8889/IFC-repo/http.openifcmodel.cs.auckland.ac.nz/).

NOTE: Some of the models work and some don't.

Here are the ones which work
- 301110PART02_Wilfer_200302_20070209_IFC
- 0912109-01railing_brep_ac_1

Here are a few those don't work are :

[2022-06-13 06:19] Undianer commented on #159
Thank you very much! You guys are the best!

[2022-06-13 06:19] #159 closed

[2022-06-14 00:00] makc commented on #127
@MichaelHilgers are you still working on this? @tomvandig what would be the expected result here? what about meshes that arent solids?

[2022-06-15 09:07] agviegas commented on #113
If you are willing to share the model, feel free to open this again!

[2022-06-15 09:07] #113 closed

[2022-06-15 09:17] agviegas commented on #52
Hey, @vegarringdal if you decide to send us the models, feel free to reopen this.

[2022-06-15 09:17] #52 closed

[2022-06-15 09:28] agviegas commented on #71
Hey, if you are willing to share the model, feel free to reopen this!

[2022-06-15 09:28] #71 closed

[2022-06-15 09:31] agviegas commented on #79
Hey @simpleSketche if you are willing to share the file, feel free to reopen this again!

[2022-06-15 09:31] #79 closed

[2022-06-15 09:32] agviegas commented on #100
After some time, last version of web-ifc loads it 😊

![image](https://user-images.githubusercontent.com/56475338/173795092-8eb93540-27a6-4ede-a5da-591077d4d939.png)

[2022-06-15 09:32] #100 closed

[2022-06-15 09:35] #34 closed

[2022-06-15 09:36] agviegas commented on #21
Hey @dlabz if you don't create a PR or give a specific estimated date, we'll open the issue again! Cheers 🙂

[2022-06-15 09:37] #44 closed

[2022-06-15 09:37] agviegas commented on #53
Hey @vegarringdal can you confirm that this still happens? Cheers!

[2022-06-15 09:46] #58 closed

[2022-06-15 09:55] #145 closed

[2022-06-15 09:57] #80 closed

[2022-06-15 09:59] agviegas commented on #83
Hey @hey24sheep we only support IFC from IFC2x3. You can see the version opening the IFC with a text editor, it's somewhere at the top. If you have an IFC that you know it's IFC2x3 onwards and still doesn't load, feel free to open more issues for them. Cheers!

[2022-06-15 09:59] #83 closed

[2022-06-15 10:01] #88 closed

[2022-06-15 10:07] agviegas commented on #103
Solved!
![image](https://user-images.githubusercontent.com/56475338/173802291-01ed2f74-1aef-4dd6-aa3a-64e244de3e0e.png)

[2022-06-15 10:07] #103 closed

[2022-06-15 10:09] agviegas commented on #129
Solved!
![image](https://user-images.githubusercontent.com/56475338/173802746-0d06465b-c447-41ef-b7e9-6523e1c48e45.png)

[2022-06-15 10:09] #129 closed

[2022-06-15 11:02] hey24sheep commented on #83
@agviegas I see, can it be added to Readme or FAQs? I might have missed it if it's already there. Thanks for the help.

[2022-06-15 11:07] agviegas commented on #134
Solved! Available from `0.0.36`.
![image](https://user-images.githubusercontent.com/56475338/173812979-37b0497f-b538-4719-a52b-b546e03336d7.png)

[2022-06-15 11:07] #134 closed

[2022-06-15 11:17] agviegas commented on #179
Hey @ericpasquiet! The boundingbox is computed using `Mesh.geometry.attributes.position`. The problem is that, in order to save memory, all buffers are shared across the original geometry and all the subsets. Subsets use the `geometry.index` attribute to define what geometry it has (they are Indexed BufferGeometries). You can compute the bounding box yourself doing the following:

1. Get the subse

[2022-06-15 11:17] #179 closed

[2022-06-15 11:21] #109 closed

[2022-06-15 11:26] agviegas commented on #174
Hey! The data of web-ifc is stored inside its instance. This means that if you want to be able to load multiple models with multiple instances of web-ifc, you will need to keep each instance alive and ask the data of that model to the instance with which it was loaded. You could perhaps add a reference to that instance in the mesh? Cheers!

[2022-06-15 11:26] #174 closed

[2022-06-15 11:33] #147 closed

[2022-06-15 11:51] #151 closed

[2022-06-15 14:14] vegarringdal commented on #53
@agviegas

Nope, but noticed npm version and console is printing out different version...
I just cloned... so I dint not have any old files laying around

![image](https://user-images.githubusercontent.com/2901416/173848953-7ef444fd-18ae-4045-a544-00cb8567ad2a.png)

[2022-06-16 01:55] dlabz commented on #21
I got in to AdvencedBREP issue with @QuimMoya, and we lost three days on a bug, so probably won’t be able to cleanup the PR before the weekend.

If someone else is interested in this task, feel free to delegate.

I’ll focus on finishing IfcBSplineWithKnots and IfcRationalBSplineWithKnots.

[2022-06-16 21:47] agviegas commented on #83
Hey @hey24sheep sure! Create an issue [here](https://github.com/ifcjs/info) and I'll add it. Cheers 😊

[2022-06-16 21:49] agviegas commented on #53
Hey @vegarringdal yeah that's actually a mistake on our side, you are probably using 35, the log has a typo. If you could provide me the model privately, we'll address this asap. Cheers!

[2022-06-16 21:52] agviegas commented on #21
@dlabz ok! Could you please specify an estimated date for this one? Cheers!

[2022-06-16 22:31] dlabz commented on #21
I’m tempted to say tomorrow, but don’t want to jinx it. We’ve had some
really bad luck with code compiling without errors, yet wasm throwing
promise rejection on startup, and one git clash messing everything up, so
this the third time we’re reintroducing changes one by one… fingers
crossed….

Neither of us have any experience with both wasm and c++, and it takes a
serpentine to climb the curve, if

[2022-06-17 06:24] hey24sheep commented on #83
@agviegas done 👍🏼 thank you

[2022-06-17 17:58] agviegas commented on #104
This bounty is free again!

[2022-06-18 04:56] makc commented on #104
@agviegas unfortunately, your little 3-step plan will not work. As is, web-if-three's LoadAllGeometry function calls ifcAPI.StreamAllMeshes with a callback to receive each geometry data which is executed inside this very function - corresponding c++ code in web-ifc-api.cpp is
[code]

if you want js to be able to reflect the progress, you would need to change API to "stream" these expressIDs instea

[2022-06-18 05:07] makc commented on #104
(for some context, on my laptop 169MB tower file from another issue is loaded and parsed in 2 seconds, and then 10 seconds are spent in StreamAllMeshes - this whole time the script is blocking the browser)

[2022-06-19 11:02] Medo-85 opened #183 "Linked models does not align correctly in term of position and scale in some cases"
Hello I am trying to load [these two models](https://drive.google.com/drive/folders/1YJCJxCD7fLgtIdkj3V9H5Sb8iS8BtFbQ?usp=sharing
) into my viewer I am using web-ifc-viewer version: 1.0.196, the reason I am posting this here because I think it is not related to web-ifc-viewer but with web-ifc since it is the one responsible to define positions and scales for the IFC models.

These 2 models are lin

[2022-06-19 12:01] Medo-85 commented on #183
Also it might be useful to know that I think this happens because the length unit in one of the models is `foot` while it is `meter` in the other.

[2022-06-21 09:25] QuimMoya commented on #142
This problem has it's root in the viewer

[2022-06-21 11:30] QuimMoya commented on #117
Hello, this model is not being represented because there is no "body" key in IFCSHAPEREPRESENTATION
if you modify the line
#31935= IFCSHAPEREPRESENTATION(#98,'Facetation','SurfaceModel',(#31924));
to
#31935= IFCSHAPEREPRESENTATION(#98,'**Body**','SurfaceModel',(#31924));
... you obtain this geometry, associated to the object SITE
![image](https://user-images.githubusercontent.com/12625508/17478902

[2022-06-21 12:09] WaleedMHany commented on #183
I noticed that for imperial and metric units both considered as THREE.js unit, for example, this causes the models with feet as length unit  to be larger than it's supposed scale, since feet will be consiered same length as meter where both are THREE.js unit

as in this picture, I uploaded two files of the same model, one is metric and the other is imperial, both models should be of same unit conv

[2022-06-21 12:24] QuimMoya commented on #127
I will take care of this bounty.

[2022-06-22 15:43] agviegas commented on #104
@makc I see 🤔 And would it be possible to know in advance the number of meshes to be streamed? If there was an additional method to do that, at least the user would now how many iterations of the callback of StreamAllMeshes would be called. I would consider that a possible solution to this!

[2022-06-24 02:22] makc commented on #104
@agviegas I totally forgot about this, sorry. Please check the above #186 - this kind of follows our discord discussion. There are a coupe of points to note:
- loading time increases (since we now give a browser extra idle time to reflect the progress), in case of 169MB file this means 15 seconds instead of 10;
- we have to wait until the progress is 100% before closing the model (so the code that

[2022-06-24 02:25] makc commented on #104
just to make sure - those points actually apply to web-if-three, changes to web-ifc (1st 2 commits) are not breaking

[2022-06-24 15:43] makc commented on #104
so @agviegas - if you make another LoadAllGeometryAsync (with progress callback, and maybe returning a Promise) in web-ifc-three instead, and leave LoadAllGeometry as-is, then none of this will be breaking. what do you think?

[2022-06-24 16:45] elalish commented on #53
I'd love to know more about what's going on here. Are you referring to merging nearby verts to e.g. make an STL manifold? Like most things, the simple cases are simple, but making it robust can be pretty tricky. Certainly pass any `Manifold` errors back to our library. In fact, I have some flags for verbosity that help with spitting out polygon error cases (which is how I've created a lot of my te

[2022-06-24 16:56] makc commented on #53
@elalish I could log input mesh if you are willing to take a look at that in the context of polygon.cpp error;

currently ifc input data is just a triangle soup - so I have attempted to merge the vertices back and when we have a simple enough mesh it works. but I guess there are cases where too many vertices touch and then merging them is doing nothing but harm.

[2022-06-24 17:04] elalish commented on #53
Yeah, this is why triangle soup like STL is such a problem - it's basically impossible to reliably retain manifoldness in general cases. This is why I helped develop the 3MF format, which is focused on defining and retaining manifoldness.

Yes, please log the input meshes you're having trouble with. If you can manage to write a PR with a `TEST` case that reproduces it, that would be the best, but

[2022-06-24 20:24] makc commented on #126
Already pinged agviegas on discord but, for the record, the problem with this file seems to be not boolean subtraction code itself but web-ifc supplying [bad argument](https://github.com/elalish/manifold/issues/144) to boolean subtraction code.

[2022-06-24 20:55] makc commented on #53
@agviegas here is an example of non-manifold hole that breaks this tower file:
![image](https://user-images.githubusercontent.com/242577/175666021-8cc4aaab-3ec8-4076-b98a-d7a2d8d16e15.png)

again, 2 boxes together in one hole, just like in #126 - so I guess the same issue.

[2022-06-24 21:05] tahesse opened #187 "How to do multithreading in node.js?"
Hey, thank you for all the effort that went into this brilliant project!

I am loading properties from .ifc files in Node.js. However, with files greater 2MB, the loading takes forever and it merely uses a single core.

I was wondering if there is a way to multithread loading in node.js?
Thank you!

Here is the file I'm trying to load: [haus.ifc](https://github.com/tomvandig/web-ifc/files/8980689/

[2022-06-25 05:30] tomzeppenfeldt commented on #187
Yes there are ways to multithread Node.js ( among onthers https://levelup.gitconnected.com/multithreading-with-nodejs-is-reality-10871986b8a9) , but you may be facing other issues in loading a 2MB ifc takes "forever". In our platform (Graphileon), which is also using IFCjs with Node.js, file loading of your haus.ifc is instantaneous , as is property retrieval.

[2022-06-25 08:35] tahesse commented on #187
Thank you @tomzeppenfeldt. So, apparently, my question does not directly qualify for a github issue but allow me one more question: Were you able to parallelize loading the lines with web-ifc builtin features?
Comparing web-ifc with web-ifc-three, it lacks a manager to coordinate the worker_threads. I assume that is part of your platforms secret sauce? ;)

Thank you for the quick reply! Good to he

[2022-06-25 09:34] tahesse commented on #187
One a further side note, I started my IFC loader program in Intellij with debugging and apparently that was causing huge performance issues.

[2022-06-25 09:34] #187 closed

[2022-06-25 11:29] pablo-mayrgundter opened #188 "Optionalize logging of console version, and add to API"
For https://github.com/bldrs-ai/ifctool we're invoking web-ifc in a command line tool.  In this setting the web-ifc version log corrupts the process output.

I realize it's useful for web console to help people submit bug reports.  Maybe it can be optionalized with a flag:
[code]
We still do need the version info though, and would like to access it via an API method, e.g.:
[code]
I'm having troubl

[2022-06-27 11:59] agviegas commented on #104
Hey @makc I'm a bit concerned about the time increase. Wouldn't it be possible to do something like this?

![image](https://user-images.githubusercontent.com/56475338/175936088-112ca92f-5176-456a-b813-06f65ca4b5ee.png)

[2022-06-27 14:11] deadman2000 opened #191 "Wrong bool operation result"
Xbim:
![изображение](https://user-images.githubusercontent.com/12889180/175961626-84646075-31dd-4e58-a6cc-5c333b1315b9.png)

Xeokit:
![изображение](https://user-images.githubusercontent.com/12889180/175961579-62000257-1f2d-44e3-baac-117a40e7f79e.png)

model:
[bad_wall.zip](https://github.com/tomvandig/web-ifc/files/8992716/bad_wall.zip)

[2022-06-27 15:01] deadman2000 opened #192 "IFCSURFACEOFREVOLUTION support"
Open IFC Viewer:
![изображение](https://user-images.githubusercontent.com/12889180/175971955-e8998018-ed36-4f6a-9d13-0ce255273b5b.png)

model:
[IFCSURFACEOFREVOLUTION.zip](https://github.com/tomvandig/web-ifc/files/8993109/IFCSURFACEOFREVOLUTION.zip)

[2022-06-28 08:36] deadman2000 commented on #191
I used fast bools. Settings: `{USE_FAST_BOOLS: true}`

[2022-06-29 20:01] pablo-mayrgundter commented on #188
Here's a workaround in my main.js that I call from node:

[code]

[2022-07-04 14:12] audeser opened #361 "Infrastructure file does not load"
I can visualize it on other viewers, but file refuses to load on IFC.js
[EarthWorks.zip](https://github.com/IFCjs/web-ifc-three/files/9040040/EarthWorks.zip)
File comes from official bSI repository, so it must be legit (https://github.com/bSI-InfraRoom/IFC-infra-unit-test/tree/main/Earthworks-12d-2).

[2022-07-05 07:01] vulpes1399 opened #195 "Shape not created in IFC4 format"
When FILE_SCHEMA is IFC4, IFCCIRCLE may not be properly output.

three : 0.134.0
web-ifc-viewer": 1.0.103

In this version, IFCCIRCLE is not created with the following message
=> degenerate polygon in extrude

And the IFCCIRCLE is not created with the following message, either downloading the code from Git or from Demo.

=> main.js:9913 THREE.BufferGeometry.computeBoundingSphere(): Computed radius

[2022-07-06 07:59] agviegas commented on #53
Hey @elalish sorry for not letting you know, my bad. We will probably release more bounties to identify these errors, fix the ones related to geometry generation on our side and support your fantastic work (like we did with Garret's three-mesh-bvh), if that's ok with you. 🙂 We'll let you know of any news. In the meantime, of course, feel free to include IFC.js as one of the projects using your lib

[2022-07-06 08:56] agviegas commented on #51
Hi @pablo-mayrgundter right now we are working in [fragment](https://github.com/ifcjs/fragment), a new geometric system based on instancing that should reduce memory drastically. In addition, if you want to work with big models, we have a pre-processing workflow that consists of exporting the IFC into glb files (for geometry) and JSON (for data). STEP files were not designed to be efficient, and t

[2022-07-06 17:23] elalish commented on #53
Fantastic, keep those bug reports coming! And certainly let me know if have any comments on the API.

[2022-07-08 13:36] MrPandawanTech opened #363 "Browser freezes completely when loading specific IFC"

[2022-07-14 04:32] suryakumara commented on #82
Facing this warning too in Create React App.

[2022-07-14 05:09] krosoftware opened #196 "Wall openings is not displayed"
Hello
IFC files does not display some wall openings, please check image. On some other viewer, it is displayed.
IFC file: https://easyupload.io/iy1jfm
bad image: https://postimg.cc/LJFDTjmv
OK image: https://postimg.cc/SjwfScYq
Thank you for your help.

[2022-07-14 05:38] brunopostle opened #197 "Native IFC support and three-way merging"
I raised a question on the discord channel, basically does IFC.js support Native IFC as implemented in blenderbim? Amongst other things, Native IFC allows three-way merging and a modern git fork, branch, pull-request, merge workflow with BIM data.

Here is a Native IFC definition discussion: IfcOpenShell/IfcOpenShell#2240

A good place to start would be to use IFC.js to modify (delete, change or a

[2022-07-19 14:29] deadman2000 opened #198 "WalkToPoint stack overflow"
Model: [stack_overflow.zip](https://github.com/tomvandig/web-ifc/files/9141939/stack_overflow.zip)

Exception:
![изображение](https://user-images.githubusercontent.com/12889180/179775470-9ffb9806-6c9d-4d38-86be-eea237b10bd2.png)

Same model in Open IFC Viewer:
![изображение](https://user-images.githubusercontent.com/12889180/179775549-11295653-2b7f-4906-8d6d-960872fb78b0.png)

Xbim Xplorer:
![изоб

[2022-07-28 08:13] agviegas commented on #82
Yep, nothing we can do about this warning, as this code is autogenerated by Emscripten. Nevertheless, it should work fine.

[2022-07-28 08:21] agviegas opened #203 "Rebar model doesn't open"
https://github.com/IFCjs/web-ifc-viewer/issues/106

[2022-07-28 09:57] pablo-mayrgundter commented on #178
Ok, I can build again!  I had a broken emsdk.

So building from head and running the node example, I can repro this error.

[2022-07-28 10:05] pablo-mayrgundter commented on #178
Error comes from this line in src:
https://github.com/tomvandig/web-ifc/blob/main/src/web-ifc-api.ts#L275

[2022-07-28 10:23] pablo-mayrgundter commented on #178
Looks like exporting from the sample file yields integers at this point in the code so each of these values is invalid.  I have a draft patch that works enough to complete the extract and yields a loadable IFC:

<img width="1263" alt="image" src="https://user-images.githubusercontent.com/2480879/181483062-ee83ed68-20a1-47e1-9380-e7cc43f1c2aa.png">

[2022-08-04 06:13] QuimMoya commented on #195
Can you post the IFC file?

[2022-08-04 06:18] QuimMoya commented on #192
I think that advanced breps have solved this issue
![image](https://user-images.githubusercontent.com/12625508/182776820-af618928-05c8-4ce4-8000-f95a92a1ee86.png)

[2022-08-04 06:26] QuimMoya commented on #172
Solved with advanced Breps
![image](https://user-images.githubusercontent.com/12625508/182777967-8fb65ae4-d230-4430-b069-9bfcae3698cd.png)

[2022-08-04 06:40] QuimMoya commented on #196
I think the hole is made, but for some unknown reason there is a thin layer blocking the hole
![image](https://user-images.githubusercontent.com/12625508/182780208-db274639-0d3f-4c17-ba2f-71fd0222169a.png)

[2022-08-04 10:56] QuimMoya commented on #121
Ok problem solved
![image](https://user-images.githubusercontent.com/12625508/182830693-72dd3c39-7c59-43c2-a13f-12fe0f4c51a7.png)

[2022-08-05 10:46] agviegas commented on #171
Hey @brunopostle can you please provide the model? Cheers!

[2022-08-08 22:54] agviegas commented on #191
Solved! You can try [here](https://ifcjs.github.io/web-ifc/examples/viewer/index.html).
![image](https://user-images.githubusercontent.com/56475338/183528050-4611da6b-a8db-429d-b69f-912f4531ccef.png)

[2022-08-08 22:54] #191 closed

[2022-08-08 22:59] agviegas commented on #104
Hey @makc how is this going? Did you manage to solve it? Cheers!

[2022-08-09 12:11] brunopostle commented on #171
Here's a model with seven IfcSurfaceCurveSweptAreaSolid representation items, it has both closed and open-ended directrixes. The reference surfaces are simple planes, so this isn't the worst case.

[IfcSurfaceCurveSweptAreaSolid.ifc.txt](https://github.com/IFCjs/web-ifc/files/9290175/IfcSurfaceCurveSweptAreaSolid.ifc.txt)

It should look something like this:

![Screenshot from 2022-08-09 13-46-22]

[2022-08-09 19:01] agviegas commented on #111
Hey @GuyOnsight we have just automated the bounty system. Can you please use the `::take` command? Just make a comment containing that command. Cheers!

[2022-08-09 19:09] agviegas commented on #203
::take

[2022-08-09 19:12] agviegas commented on #203
::take

[2022-08-10 06:01] GuyOnsight commented on #111
::take command

Still in progress
@agviegas @amirmiz

[2022-08-10 08:50] agviegas commented on #111
::take

[2022-08-10 08:50] agviegas commented on #111
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 31, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-10 08:50] agviegas commented on #111
::drop

[2022-08-10 08:50] agviegas commented on #111
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-10 08:51] agviegas commented on #111
Can you please try again like I did @GuyOnsight ? Thanks!

[2022-08-10 09:52] #121 closed

[2022-08-11 07:03] MadsHolten opened #208 "Space boundaries not created"
When I try to access the space boundaries' geometries I get an error "unexpected mesh type". I have tested the same model in ifcopenshell for Python where I am able to get the space boundaries, export them to STL and view them in ThreeJS.

[code]

Tested with web-ifc version 0.0.35

As I traverse through the relations I can see that the boundaries are represented by *IfcSurfaceOfLinearExtrusion* a

[2022-08-12 05:49] QuimMoya opened #209 "Elalish/Manifold library fails in some models."
When disabling FAST_BOOLS many models fail to load. The error message could vary, but is something like this:
![image](https://user-images.githubusercontent.com/12625508/184292251-2bb43a5d-d3fa-4b0c-bbde-493178d9162a.png)
or this
![image](https://user-images.githubusercontent.com/12625508/184292481-4137ecf3-5c56-4e9f-a8c7-909c02d2a94a.png)

testing files:
[S_Office_Integrated Design Archi.zip](htt

[2022-08-12 23:47] makc commented on #104
sorry @agviegas I forgot. give me until monday

[2022-08-13 18:44] agviegas commented on #104
::take

[2022-08-13 18:44] agviegas commented on #104
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is September 3, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-08-13 18:44] agviegas commented on #104
::drop

[2022-08-13 18:44] agviegas commented on #104
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-13 18:45] agviegas commented on #104
@makc no worries! Can you please use the ::take command like I did? We have just automated the managing of bounties :)

[2022-08-13 18:45] makc commented on #104
::take

[2022-08-13 18:45] agviegas commented on #104
### 🟢🟢🟢

Hi, @makc! Thanks for taking this bounty! The due date is September 3, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need t

[2022-08-13 18:47] makc commented on #104
@agviegas,

what's bounty id?

[2022-08-15 07:23] GuyOnsight commented on #111
::take

Thanks for the opportunity @agviegas
We will try another bounty when it will be possible for us

@amirmiz

[2022-08-15 09:33] ehtick opened #362 "crash loading model"
I use threejs 143 and the latest web-ifc-three and am trying to load a simple ifc model.
The console from the browser shows

web-ifc-api.js:6592

       Uncaught (in promise) RuntimeError: abort(undefined). Build with -s ASSERTIONS=1 for more info.
    at abort (web-ifc-api.js:6592:19)
    at _abort (web-ifc-api.js:10470:11)
    at web-ifc.wasm:0x113c
    at web-ifc.wasm:0x63127
    at web-ifc.was

[2022-08-15 16:21] mysterieux30 opened #210 "the current Wasm does not work with the multithreading example (IFCWorker.js)"

[2022-08-15 17:13] #210 closed

[2022-08-17 07:08] Nevernat opened #211 "Unexpected style type message when loading model"
Loading IFC files with the ifc.js library i often get many messages like this in console:
[code]
What are they due to?
Is it possible to prevent them from appearing?

[2022-08-18 15:01] andy-wrks opened #212 "GetLine doesn't support all entity types (only IFC4?)"
Hi, thanks for the great work on webIFC!

We fail to retrieve the raw data for some entities via ifcAPI.GetLine(modelID, expressID).
This happens for example with IfcElectricDistributionPoint entities. My base assumption is that webIFC applies the IFC4 scheme to all IFC files and so it's missing entities types that only exist in IFC2x3, like IfcElectricDistributionPoint.

The official scheme versi

[2022-08-21 16:58] agviegas commented on #111
Hey @GuyOnsight the comment can only contain the `::take` command, like I did. Can you please try again? Thanks a lot for your help!

[2022-08-22 11:29] bergden-resonai opened #213 "Add documentation and APIs to support crawling the model"
As my questions in StackOverflow explain ([Q1](https://stackoverflow.com/questions/73264319/how-to-access-the-buffergeometry-of-ifc-items-in-web-ifc-three), [Q2](https://stackoverflow.com/questions/73298547/how-to-get-types-from-ifc-objects)) I'm trying to write an exported from IFC to a simpler format like OBJ
For that the [glTF example](https://github.com/IFCjs/web-ifc-viewer/blob/master/viewer/

[2022-08-22 21:39] brunopostle opened #214 "REAL numbers written by ExportFileAsIFC() are in an invalid format"
Files created using ExportFileAsIFC() have invalid real numbers, validation of a file generated by the `hello-world/examples/web-ifc-three/editing/` tool gives lots of errors like this:

[code]

Here is how [IfcOpenShell writes reals](https://github.com/IfcOpenShell/IfcOpenShell/blob/de6b578d9c1752c55f74afee6970d05015f2dfe7/src/ifcparse/IfcWrite.cpp#L71)

Basically, whole number real numbers need

[2022-08-23 14:56] andy-wrks commented on #212
Here's an example of mismatching attribute names due to mismatching data schemes.
In the classification concept, there's an attribute that holds the actual classification code (red in image):

![image](https://user-images.githubusercontent.com/111515188/186189477-9d3a250c-83c5-4e38-aa56-a08be70019bb.png)

This attribute changed its name from "ItemReference"(IFC2x3) to "Identification" (IFC4).

![i

[2022-08-23 19:09] mysterieux30 opened #215 "!!! Please help !!! - Web-IFC load file to objects form - Diagramm"
Hello, Please, is there any good explained Diagramm or Schema that could allow me to understand the meaning of every attribute in every object, and if any further necessary information to know exactly how I could interact with all these objects? There are some attributes in the objects extracted from the WASM that doesn't even exist in the IFC format (Example in the picture: 1 "IfcPropertySingleVa

[2022-08-26 14:29] brunopostle commented on #214
Another error in the exported file, the FILE_NAME header should have 7 attributes not 5, i.e this is invalid:

    FILE_NAME('no name', '', (''), (''), 'web-ifc-export');

See diagnosis in IfcOpenShell/IfcOpenShell#2358

[2022-08-27 16:53] #21 closed

[2022-08-30 10:05] lukyrys opened #216 "unable open larger ifc file (~50mb)"
Hello, i have problem with opening larger ifc file. IFC file is about 50mb and tried on demo page https://ifcjs.github.io/web-ifc/examples/viewer/index.html

Output from browser console
[code]

[2022-08-31 08:19] mysterybear commented on #127
How's this one going?

[2022-09-02 07:30] TxTony commented on #213
Hi,
About your Question 2
if you're expecting the following result : where {key : IFCENTITY: int , ...}
![image](https://user-images.githubusercontent.com/9210019/188078922-fed37b78-498d-4f2a-a967-5748833f26ec.png)

 You could check the web-ifc-api there is a helper method for inspiration [here](https://github.com/IFCjs/web-ifc/blob/f68cee99b9e739937949097464d79ecf938a747c/src/helpers/properties.t

[2022-09-04 00:00] agviegas commented on #104
### 🔴🔴🔴

Hi, @makc! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-04 06:50] bergden-resonai commented on #213
So currently the workaround I have is this:
[code]
Which doesn't make a lot of sense in my opinion but it works
I definitely would love having something like `getAllTypesOfModel` exposed as from reading the code and my limited understanding of IFC I have no idea how to rip-off (and it sounds to me like a basic enough functionality).
I can imagine I'm not the first person to try and get a list of o

[2022-09-04 20:25] agviegas commented on #213
We could perhaps make a function to get all types present in a file (and all elements)? 🤔

[2022-09-06 06:06] TxTony commented on #111
Hi just to recap.
During the build process for a new version of web-ifc.  We have to run a script locally  and this script will write the results into a table ( see exemple below ).

Question : the table is injected in the readme or it should be in another file named benchmark.md ?

| filename  |  Input file size |  IFCEntities quantity |  Total number of produced mesh  |  Total number of polygons

[2022-09-09 09:24] cubalibre opened #217 "Ifc loader fails on load http://www.solserver.it/casak/test.ifc"
![Cattura2](https://user-images.githubusercontent.com/904508/189318053-c1532f20-4280-4d85-9da2-db935b4165ba.PNG)
I view a strange model if I load  [this ifc ]( http://www.solserver.it/casak/test.ifc ) with other viewers I see a correct model.

[2022-09-09 09:31] cubalibre commented on #217
The corretc mode
![Cattura](https://user-images.githubusercontent.com/904508/189319437-9d173af1-3f04-46af-a5f6-e6e043724d27.PNG)

[2022-09-09 11:09] quasarchimaere opened #269 "serialized value is too large"
![GW_00001](https://user-images.githubusercontent.com/8503486/189336987-ce917c1b-52fa-40e5-8bae-e38d0c1037a5.png)

Happens on a rather small (20mb) file, i try and reproduce the issue with another ifc file, currently we are not allowed to post/share the file due to costumer restrictions

[2022-09-13 19:03] kongsgard opened #218 "Some parts of the IfcOpenHouse sample IFC are not displayed"
I tried visualizing the sample IFC found [here](https://github.com/aothms/IfcOpenHouse), but noticed that the ground and parts of the walls were missing. Is this a known issue?

Expected:
<img width="642" alt="image" src="https://user-images.githubusercontent.com/13556755/189987402-f0d44b2b-8ce2-4432-afe8-e9eaa95fcc3e.png">

Actual:
<img width="507" alt="image" src="https://user-images.githubuserc

[2022-09-15 12:22] Moult commented on #215
You can browse the IFC docs here: http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcPropertySingleValue.htm

As you can see, the Name and NominalValue are attributes of the IfcPropertySingleValue class.

[2022-09-15 12:25] Moult commented on #213
@bergden-resonai btw did you know there is also IfcConvert, an IfcOpenShell based open source CLI / lib that you can use to convert IFCs to OBJ?

[2022-09-15 12:31] bergden-resonai commented on #213
@Moult Thanks! I actually tried using IfcOpenShell originally but in my specific use-case I needed to integrated this to a web application, and eventually I want to allow the user to select types and subsets they want to save/convert

[2022-09-16 04:02] arunkvijay commented on #111
::take

[2022-09-16 04:02] agviegas commented on #111
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for taking this bounty! The due date is October 7, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-09-16 16:11] TxTony commented on #110
::take

[2022-09-16 16:11] agviegas commented on #110
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is October 7, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need t

[2022-09-19 17:48] andy-wrks opened #219 "Sample files for failed geometry conversion"
As discussed in the Discord today, I'm uploading some sample geometry that fails to convert in the current build.
For context: According to the discussion, this could be a regression issue related to the changes in handling boolean operations. But it could also be something else ;-)

![image](https://user-images.githubusercontent.com/111515188/191058448-25c51230-43b0-4c73-8d7f-cceec71f1a88.png)

A

[2022-09-23 13:38] Alecapra96 opened #220 "The link in "about" of the project dont work"
In the section about of web-ifc this link https://tomvandig.github.io/web-ifc/examples/viewer/index.html dont work , just show 404
![image](https://user-images.githubusercontent.com/73189430/191973040-3be63d83-5287-42ed-acdc-7ff96330cbb5.png)

[2022-09-27 10:50] TxTony opened #221 "Bad transformation matrix size should throw an error"
This could be better to throw an error.

https://github.com/IFCjs/web-ifc/blob/f68cee99b9e739937949097464d79ecf938a747c/src/web-ifc-api.ts#L335

https://github.com/IFCjs/web-ifc/blob/f68cee99b9e739937949097464d79ecf938a747c/src/web-ifc-api.ts#L281

[2022-09-28 05:59] TxTony commented on #110
Hi @agviegas,
### first question
about the functions below.
I admit the returns are actually correct. The return types are good. But I don't know if this is the expected result.
do you think i can considered the test ok if the return type is good ? ( without checking the expected result)

[code]

### second question

By the way could you tell me in which case we can use these function ?

If I'm ri

[2022-09-28 09:01] agviegas commented on #110
Hi @TxTony!

First question: I think that it would be great if we could test values. What do you think of using a minimal IFC file? We can provide you with one.

Second question: exactly, the functions are used to get the geometric data of a mesh. You can see how we use it in [web-ifc-three](https://github.com/IFCjs/web-ifc-three/blob/main/web-ifc-three/src/IFC/components/IFCParser.ts#L120). If we

[2022-09-29 08:08] jespa007 opened #222 "IFC header implementation"
Hi there,

I couldn't find a way to get information from IFC HEADER, the set of lines that tells information about file description, timestamps, etc

![image](https://user-images.githubusercontent.com/7852409/192975679-c5680d42-0d3f-4e15-afbb-6ed7d1055d36.png)

It would be fantastic if is implemented.

Implementation guide,

https://standards.buildingsmart.org/documents/Implementation/Implementati

[2022-09-30 17:10] TxTony commented on #110
This is a first draft https://github.com/IFCjs/web-ifc/commit/c696796b6356c21b455b41acb0dd25bc261333fa
Do not hesitate to tell me if it smells bad :laughing: .
I think it covers all the functions inside web-ifc-api.js,
except the functions with the comment `// must be reviewed ` . they are not tested yet or tested the bad way.
@agviegas could you provide me a minimalist IFC4 file ?  these tests ar

[2022-10-01 15:34] TxTony commented on #110
By the way if you got some ifc files making ifcApi failed please could you add the links here.

[2022-10-03 18:08] TxTony commented on #110
Fails to consider and should be in a test case

- https://github.com/IFCjs/web-ifc/issues/209
- https://github.com/IFCjs/web-ifc/issues/214
- https://github.com/IFCjs/web-ifc/issues/212
- https://github.com/IFCjs/web-ifc/issues/146
- https://github.com/IFCjs/web-ifc/issues/53

[2022-10-03 23:28] arunkvijay commented on #111
::drop

[2022-10-03 23:28] agviegas commented on #111
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-04 06:43] Danimolonmon opened #223 "Problem with rendering an extruded geometry with a profile in x,z"
It seems that when creating a profile to extrude with the coordinates on the axis: x,y. it can be extruded in any direction, but when you substitute y for z to extrude on the 0,1,0 axis, when trying to load it in the ifc loader, it returns the error: degenerate geometry
![Captura de pantalla 2022-10-04 083851](https://user-images.githubusercontent.com/114978722/193751102-71056b39-3fe4-4021-8576-61

[2022-10-04 09:34] jespa007 opened #224 "GetLine always returns the first LineID if its expressId not exist"
Hi there,

I found an issue at `GetLine`  ( web-api-browser.js line 54518):

[code]

`GetLine` returns always returns the first LineId when its _expressID_ not exists . This case was happened when I tried to load an IFC that it had some missing relations (Is a not well exported IFC of course).

From my point of view I think that, the normal behaviour, **it should be to throw an error or return und

[2022-10-05 17:49] TxTony commented on #111
::take

[2022-10-05 17:49] agviegas commented on #111
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is October 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-10-06 08:25] TxTony commented on #110
::extend

[2022-10-06 08:25] agviegas commented on #110
### 🟢🟢🟢

Hi, @TxTony! The due date is successfully extended by 21 days to October 28, 2022 UTC.

[2022-10-06 21:46] agviegas opened #225 "Can't use WriteLine"
It looks like we can't use WriteLine anymore: https://stackoverflow.com/questions/73978714/failure-to-write-edited-values-into-new-ifc-file-in-wit-using-exportfileasifc-us

[2022-10-07 13:44] agviegas commented on #178
@pablo-mayrgundter this has caused errors when exporting IFC files: https://github.com/IFCjs/web-ifc/issues/225 . We are reverting this change.

[2022-10-07 14:40] agviegas commented on #170
::take

[2022-10-07 14:41] agviegas commented on #170
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is October 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-10-07 14:41] agviegas commented on #170
::drop

[2022-10-07 14:41] agviegas commented on #170
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-07 14:44] agviegas commented on #162
::take

[2022-10-07 14:45] agviegas commented on #162
::take

[2022-10-07 14:45] agviegas commented on #162
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is October 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-10-07 14:46] agviegas commented on #162
::drop

[2022-10-07 14:46] agviegas commented on #162
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-07 15:30] pablo-mayrgundter commented on #178
Bummer!  Well yeah, the patch I submitted was just to bypass an error when there was no way to write a line.  Reverting will break it again for the data files we were using, but may let yours pass?  I'd suggest cleaning up the error handling instead.  Do you have someone working on this?

[2022-10-07 16:16] agviegas commented on #178
No worries, @QuimMoya already fixed it for future versions! We will address this issue separately to prevent this from breaking before publishing the new version! If you have any proposal, let us know

[2022-10-08 12:09] TxTony commented on #146
Hi @elyrank @QuimMoya @agviegas

Could you provide the entire ifc model when i try with your given line i received the correct length.

the current string has 259 chars.

Is this already solved ? or am i missing something ?

`634515a696_750109a908z634519.707_750124a88z634551a707_750124a88z634551a707_750080.88z634499.796_750067.937z634483.721_750036.587z634558.04_750031.391z634558.482_750031.723z63

[2022-10-09 02:18] pablo-mayrgundter commented on #178
I reviewed the original error at top of thread here and also my fix.  Also looked at the SO issue you linked.

here's my fix (which is still in HEAD):
https://github.com/IFCjs/web-ifc/commit/77def23423d4b7741082c32d9a70ccabdf2edeca

All my workaround did was to output a console warning and continue with serialization instead of creating a TypeError if there were undefined properties in the lineObj

[2022-10-09 11:16] agviegas commented on #178
Hey, [this](https://github.com/IFCjs/ifcjs-crash-course/tree/main/exercises/WIT/editing) is the example of the crash course. I tested this with the same file and multiple versions of web-ifc, and only the last version was unable to write the IFC file.

[2022-10-09 12:04] agviegas commented on #110
Hey, sorry for the late response, this looks great! You can find some files [here](https://github.com/IFCjs/test-ifc-files). I think that the tests are correctly written. 🙂

[2022-10-09 16:57] TxTony commented on #110
Hi @agviegas thanks. don't worry i will publish them soon . My timetable is busy i just need to clean the code  and include some known faillures. Thanks for the files

[2022-10-09 19:59] pablo-mayrgundter commented on #178
Hmm, WIT works for me.  Do you fail to serialize at all?

First I clone the repo and run as-is, with web-ifc@0.0.35 in package.json, run the local demo server and download the modified file (which exercises WriteLine).  That gives me "modified.ifc" which is 698903 bytes.  (Note, I see 0.0.34 in jsconsole version log).

I then modify the package.json to use web-ifc@0.0.36, rebuild the excercise and

[2022-10-09 20:02] pablo-mayrgundter commented on #178
ahh.. Are you saying the edited value doesn't show up in the output file?  Yes, I see that now.  Ok, will see what's going wrong...

[2022-10-09 21:43] pablo-mayrgundter commented on #178
I think the bug is a typo in my original fix attempt.  I'm checking for ToArray but should be checking for ToTape.  Sorry!

Here's the PR:

  https://github.com/IFCjs/web-ifc/pull/226

Another discovery, the web-ifc example was broken a long time ago by a change in web-ifc API in

  https://github.com/IFCjs/web-ifc/commit/bfc2601657595b8f84cd0f2df5d3907836fb6758

The api was changed from:
[code]
t

[2022-10-10 04:48] QuimMoya commented on #146
Hi TxTony

This issue is already solved. We forget to remove it. Thanks.

[2022-10-10 08:44] agviegas commented on #220
Fixed!

[2022-10-10 08:44] #220 closed

[2022-10-10 11:15] aka-blackboots commented on #173
::take

[2022-10-10 11:15] agviegas commented on #173
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is October 31, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-10 11:15] aka-blackboots commented on #173
::drop

[2022-10-10 11:15] agviegas commented on #173
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-10 15:42] #178 closed

[2022-10-10 16:42] aka-blackboots commented on #188
::take

[2022-10-10 16:42] agviegas commented on #188
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is October 31, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-10 16:42] aka-blackboots commented on #188
::drop

[2022-10-10 16:42] agviegas commented on #188
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-11 08:43] #192 closed

[2022-10-11 09:06] aka-blackboots commented on #196
::take

[2022-10-11 09:06] agviegas commented on #196
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is November 1, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-11 09:06] aka-blackboots commented on #196
::drop

[2022-10-11 09:06] agviegas commented on #196
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-11 10:21] agviegas commented on #203
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is November 1, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-11 10:21] aka-blackboots commented on #203
::drop

[2022-10-11 10:21] agviegas commented on #203
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-11 15:23] aka-blackboots commented on #214
::take

[2022-10-11 15:23] agviegas commented on #214
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is November 1, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-11 15:23] aka-blackboots commented on #214
::drop

[2022-10-11 15:23] agviegas commented on #214
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-12 19:15] SchnFlo opened #229 "IFC-files written with web-ifc can't be imported in FreeCad, Blenderbim, Revit, Archicad"
Hi!
First of all, thanks for the great work on web-IFC!

I'm currently using the parser to add elements to existing IFC-files. In the process, I came to the realization that I can no longer open files in CAD-Software(FreeCad, Blenderbim, Revit, Archicad) after parsing them through web-ifc.

**The web-ifc viewer demo still manages to open the files.**

I tried around a bit and to me it looks like t

[2022-10-13 10:07] clemensjur opened #230 "Get the next highest expressID"
Hi!

It would be great to have a function that returns the next highest expressID of the IFC file.

Thanks!

[2022-10-13 12:21] Moult opened #231 "degenerate polygon in extrude for slab"
See test file: [test.txt](https://github.com/IFCjs/web-ifc/files/9776528/test.txt)

[2022-10-13 12:38] Mivit commented on #229
This may be related to issue #214?

[2022-10-13 17:54] agviegas opened #232 "File doesn't open because of geometry"
Here is the [file](https://drive.google.com/file/d/1r_bMWOeJ-_1QYqii7TpMF23bKnjtSKQi/view?usp=sharing). This happens when opening the model and `USE_FAST_BOOLS=false`. Actually, many files throw errors when being open with this configuration. Probably due to the integration of elalish/manifold.

[2022-10-13 19:24] aka-blackboots commented on #171
::take

[2022-10-13 19:25] aka-blackboots commented on #171
::drop

[2022-10-13 19:25] agviegas commented on #171
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-14 20:28] aka-blackboots commented on #219
::take

[2022-10-14 20:28] agviegas commented on #219
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is November 4, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-14 20:28] aka-blackboots commented on #219
::drop

[2022-10-14 20:28] agviegas commented on #219
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-15 10:10] aka-blackboots commented on #224
::take

[2022-10-15 10:10] agviegas commented on #224
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is November 5, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do n

[2022-10-15 10:11] aka-blackboots commented on #224
::drop

[2022-10-15 10:11] agviegas commented on #224
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-15 10:18] TxTony commented on #221
::take

[2022-10-15 10:19] agviegas commented on #221
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is November 5, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-10-15 11:41] brutestack commented on #216
I have the same issue when using web-ifc-three v0.0.121 and web-ifc v0.0.36 with 19 Mb model
![image](https://user-images.githubusercontent.com/2864137/195984390-b7bd027b-f0e3-43e6-a664-a74d6ef7d8be.png)

[2022-10-15 12:59] TxTony commented on #188
::take

[2022-10-15 13:00] agviegas commented on #188
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is November 5, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-10-15 15:59] pablo-mayrgundter commented on #188
Hi Tony,

I had started on this but didn't grab the bounty.  I have it mostly done.
I could take or if you'd like here for reference:

  https://github.com/IFCjs/web-ifc/pull/235

Note, one issue left about plumbing the log level through correctly from TS.

Cheers,
Pablo

On Sat, Oct 15, 2022 at 8:00 AM Antonio González Viegas <
***@***.***> wrote:

--
*interweb homepage <http://sites.google.com/s

[2022-10-17 10:25] agviegas commented on #188
Hey @pablo-mayrgundter thanks for your help! I guess that if you have it done, it wouldn't make sense for @TxTony to invest time here. In the future, to avoid conflicts, please take the bounty

[2022-10-17 12:41] TxTony commented on #188
no it's okay @agviegas in private I already give the possibility to take the bounty or you can reassign I accept

[2022-10-17 12:45] TxTony commented on #188
::drop

[2022-10-17 12:45] agviegas commented on #188
### 🟢🟢🟢

Hi, @TxTony! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-17 12:46] TxTony commented on #188
@pablo-mayrgundter take it

[2022-10-17 15:16] pablo-mayrgundter commented on #188
::take

Thanks guys!

[2022-10-17 15:17] agviegas commented on #188
@TxTony thanks a ton! ♥ @pablo-mayrgundter the comments has to have just the command, without any additional text!

[2022-10-17 15:29] pablo-mayrgundter commented on #188
::take

[2022-10-17 15:29] agviegas commented on #188
### 🟢🟢🟢

Hi, @pablo-mayrgundter! Thanks for taking this bounty! The due date is November 7, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you d

[2022-10-17 17:15] yermolim opened #236 "Missing elements in the loaded file"
Hello! I have an issue with missing elements in one of the models. I hope you could help.
Here is the [model](https://drive.google.com/file/d/1zHltT_DOwP3eA7s1USaql7QDpFo_2_xB/view?usp=sharing).

Here is how it should look in the viewer (Open IFC Viewer), the missing elements are selected (green):
<img width="480" alt="image" src="https://user-images.githubusercontent.com/39064665/196238739-21a354

[2022-10-18 16:53] agviegas commented on #117
### 🟢🟢🟢

Hi, @BSchafer01! Thanks for taking this bounty! The due date is November 8, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not n

[2022-10-18 19:38] BSchafer01 commented on #196
The link for the model appears to have expired. Would you be able to attach the model again?

[2022-10-19 10:48] Moult commented on #229
Indeed it's a duplicate issue, web-ifc needs to output the correct data type.

[2022-10-19 15:26] Nevernat commented on #211
The file is here:
[301110Nem-FZK-Haus-2x3.ifc](https://github.com/Nevernat/IFC-examples/blob/main/301110Nem-FZK-Haus-2x3.ifc)
I found the example on web.

Same error for the THREE.js example:
[THREE.js example](https://github.com/mrdoob/three.js/tree/dev/examples/models/ifc)

PS: in my case the warning appears using ifc.js integrated in THREE.js (r143)

[2022-10-19 15:50] beachtom commented on #170
::take

I will give this a go if I may

[2022-10-19 16:09] agviegas commented on #230
### 🟢🟢🟢

Hi, @rfdiazpr! Thanks for taking this bounty! The due date is November 9, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-10-19 16:14] #229 closed

[2022-10-20 09:53] agviegas commented on #170
::take

[2022-10-20 09:54] agviegas commented on #170
::drop

[2022-10-20 09:54] agviegas commented on #170
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-10-20 09:56] beachtom commented on #170
::take

[2022-10-20 09:56] agviegas commented on #170
### 🟢🟢🟢

Hi, @beachtom! Thanks for taking this bounty! The due date is November 10, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-10-20 22:23] Moult opened #240 "Some visual glitches with rendering half space solid booleans"
Reported here by user: https://community.osarch.org/discussion/1197/bug-on-ifcwalls-connections-when-exporting-ifc-from-blenderbim-to-ifc-js

I'm not sure if this is a web-ifc issue or a web-ifc-viewer issue, since technically the half space solid boolean plane is applied and clips the wall, yet in the viewer it shows some form of infinite plane.

One guess is due to geometric tolerance where the

[2022-10-21 11:31] beachtom commented on #170
PR Submitted - I need to do a PR to web-ifc-three to add the inverse flag to the methods but will do that once this is approved and finalized

[2022-10-22 10:44] aka-blackboots commented on #170
@beachtom, PR merged. Please proceed!

[2022-10-22 10:51] aka-blackboots commented on #196
@BSchafer01, connect with me on discord, and I will share a basic IFC file with you.

[2022-10-22 18:38] beachtom commented on #170
@aka-blackboots thanks! I think I will need to wait for a new release before I can do so though

[2022-10-23 02:53] wlinna opened #244 "Using web-ifc WASM from other languages"
Hello,

I'm toying with the idea of using web-ifc to implement an IFC importer. My program is written in Rust, and it runs on a desktop / server and on modern web browsers .

Do you see any obstacles on using the WASM module in this manner? Are you aware of any similar experiments that I could refer to?

[2022-10-24 10:46] arantesf commented on #236
Having the same problem here!

[2022-10-24 12:05] beachtom commented on #170
::done

[2022-10-24 12:24] agviegas commented on #170
::done

[2022-10-24 12:31] agviegas commented on #170
::done

[2022-10-24 12:32] agviegas commented on #125
::take

[2022-10-24 12:33] agviegas commented on #125
::take

[2022-10-24 12:35] #125 closed

[2022-10-24 12:36] agviegas commented on #162
::take

[2022-10-24 12:37] agviegas commented on #162
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is November 14, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-10-24 12:38] agviegas commented on #162
::done

[2022-10-24 12:43] agviegas commented on #162
::done

[2022-10-25 01:03] Moult commented on #244
Cross referencing to https://github.com/IfcOpenShell/IfcOpenShell/issues/2265 in case @aothms has any insights

[2022-10-25 01:07] Moult commented on #170
I had a quick glance at the PR and I see IFC4x2 and IFC2x4 ... can you confirm how this feature is used? Both IFC2X4 and IFC4X2 are not ISO-standardised schema identifiers, so are you sure you've parsed the inverses from the correct EXPRESS definition? I would assume to see IFC2X3 and IFC4.

Is it possible to attach a code snippet demonstrating how this feature is used?

[2022-10-25 03:58] BSchafer01 commented on #183
::take

[2022-10-25 03:58] agviegas commented on #183
### 🟢🟢🟢

Hi, @BSchafer01! Thanks for taking this bounty! The due date is November 15, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not

[2022-10-25 05:26] #221 closed

[2022-10-25 08:37] beachtom commented on #170
Hi Dion - thanks for commenting. At the moment this feature is not available in the web-ifc-three or the viewer until the core team release a new version.  - but all you need to do is change the final parameter of getLine to true and it will fetch the inverse properties i .e.

`
const lineData = await ifcAPI.GetLine(modelID, lineNo, true,true);
`

I do agree with the inconsistent naming to be hone

[2022-10-25 16:49] myoualid commented on #170
I've tested this out and it seems we can only go one level deep.
Eg. IfcSite --> IfcRelContainedInSpatialStructure --> IfcBuilding . But it stops there.

Is there a way we can traverse the whole graph database?

[2022-10-25 17:49] aka-blackboots commented on #170
@myoualid, can you attach the IFC to test this out?

[2022-10-25 18:33] TxTony commented on #111
::extend

[2022-10-25 18:33] agviegas commented on #111
### 🟢🟢🟢

Hi, @TxTony! The due date is successfully extended by 21 days to November 16, 2022 UTC.

[2022-10-25 18:57] beachtom commented on #170
@myoualid you are right - there is an error here. I have raised a PR to fix

[2022-10-25 20:45] sinedie opened #247 "Unable to load all geometry"
I'm trying to load a building from a structural analysis software, but IFCBEAMS objects wont load nor show. I'm using ifc-three with react-three-fiber and webworkers enabled. I tried reading the file with ifcopenshell and it read all entities. Seems to be something with the profile definition (IFCDERIVEDPROFILEDEF or IFCSTRUCTURALPROFILEPROPERTIES, idk, I'm new to BIM and IFC world). Also when ope

[2022-10-25 23:32] Moult commented on #170
@beachtom I just chatted with @myoualid and there was a misunderstanding. Because this function returns a nested object it should never traverse inverse attribute relationships since they will always be cyclical. The way you've done it looks good (I saw on @myoualid 's screen). Congrats!

Food for thought as a completely separate feature, if you do want to recursively traverse, you can do it on di

[2022-10-26 04:29] pablo-mayrgundter opened #248 "Docs: pls add web-ifc debugging instructions"
I was able to debug JS->ASM in Chrome today, with some help from @QuimMoya.  Not obvious how to get it all working together so would be good to have a wiki page or dev page somewhere to refer to and improve over time.

1) Need to build the code with debug symbols.  The existing target is dead for me.. anyone else?
2) Chrome needs to be configured for remote debugging
https://stackoverflow.com/ques

[2022-10-26 06:41] beachtom commented on #170
@Moult thanks! After I did some code and tried that I realised that of course it will always be cyclical. I think it is better to leave for the developer using this API call to decide how they want to traverse inverse attributes - I could add some checks to ensure no cyclical references are returned - but this will still lead to large traversals which may not always be what someone needs/wants.

I

[2022-10-26 19:42] aka-blackboots commented on #170
#250

[2022-10-26 20:47] BSchafer01 commented on #183
This issue should be resolved with the pull request merged recently #245

[2022-10-26 20:48] BSchafer01 commented on #117
This issue should be resolved with pull request #237 that was merged earlier

[2022-10-27 05:39] BSchafer01 commented on #222
::take

[2022-10-27 05:39] agviegas commented on #222
### 🟢🟢🟢

Hi, @BSchafer01! Thanks for taking this bounty! The due date is November 17, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not

[2022-10-27 05:58] beachtom commented on #212
::take

[2022-10-27 05:58] agviegas commented on #212
### 🟢🟢🟢

Hi, @beachtom! Thanks for taking this bounty! The due date is November 17, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-10-27 06:59] BSchafer01 commented on #224
::take

[2022-10-27 06:59] agviegas commented on #224
### 🟢🟢🟢

Hi, @BSchafer01! Thanks for taking this bounty! The due date is November 17, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not

[2022-10-27 08:17] Moult opened #253 "Styles assigned through material representations are not supported"
IFC styles may be assigned either to a geometry directly (right branch of diagram), or first to a material, which is then assigned to geometry (left branch of diagram). See diagram below. It seems as though IFCJS does not support the left branch of the diagram.

See attached sample model:

[model.ifc.txt](https://github.com/IFCjs/web-ifc/files/9877318/model.ifc.txt)

![image](https://user-images.g

[2022-10-27 17:38] Mivit commented on #214
::take

[2022-10-27 17:38] agviegas commented on #214
### 🟢🟢🟢

Hi, @Mivit! Thanks for taking this bounty! The due date is November 17, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-10-27 22:59] Mivit commented on #214
::done

[2022-10-28 00:51] Moult opened #255 "Strange schema identifiers in src/"
In https://github.com/IFCjs/web-ifc/tree/main/src I see identifiers "2x4" and "4x2". Neither of these are official bSI schema identifiers. bSI identifies IFCs using two things 1) a version number (e.g. 2.3.0.1) and 2) a schema identifier (e.g. IFC2X3).

ifc2x4 does not exist, and neither does 4x2, is there a reason these files are named this way? Can you confirm that the actual dataset is being ex

[2022-10-28 07:08] rvouilloz opened #386 "Display IfcGridAxis"
The IFC files have their own grid axes drawn directly in the model. Could we display them as lines (dotted?) with their names as well? I did a test here by exporting them as a separate gltf and displaying the name as CSS2DObject :
![2](https://user-images.githubusercontent.com/97536689/198522318-89a32e80-393b-40d7-a004-ec80c200e0f2.jpg)
[code]

[2022-10-28 07:59] beachtom commented on #255
Hi Dion, thanks. I think this is also the cause of the issues here: https://github.com/IFCjs/web-ifc/issues/212

I am hoping to look at this in the next week or two

[2022-10-28 08:31] Moult commented on #255
Ah right. If so this is not just a cosmetic issue but a serious problem which should be fixed :)

[2022-10-28 11:21] #225 closed

[2022-10-29 00:00] agviegas commented on #110
### 🔴🔴🔴

Hi, @TxTony! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-10-29 18:27] TxTony commented on #110
Hi @agviegas could you change the status to done if it is ok.

Thanks

[2022-10-31 09:16] agviegas commented on #110
::done

[2022-10-31 09:19] #110 closed

[2022-10-31 15:26] aothms commented on #244
Nope, it's also a bit new to me still. We're likely going to bypass all of this complexity simply by using pyodide or (rather new, but promising) https://github.com/sagemathinc/cowasm

That way we can reuse the ten thousands of sloc of python code in IfcOpenShell in the browser.

It's not going to give the same module size as a nifty cross compiled rust binary, but at the same time I've also came

[2022-11-01 02:18] wlinna commented on #244
Fortunately for me though, I'm thinking of using only the geometry (triangulated) and the type names (e.g. IfcWindow,IfcSlab, ...). I hope this will help me to avoid fights with the type system.

[2022-11-01 08:27] aothms commented on #244
Makes sense @wlinna  :)

[2022-11-01 09:21] TxTony commented on #110
::expense::105012

[2022-11-01 11:18] agviegas commented on #214
::done

[2022-11-01 11:18] agviegas commented on #214
### 🟢🟢🟢

Hi, @Mivit! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-11-01 11:30] Mivit commented on #214
::expense::105043

[2022-11-01 11:30] agviegas commented on #214
### 🟢🟢🟢

Hi, @Mivit! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-11-01 11:31] agviegas commented on #214
### 🟢🟢🟢

Hi, @Mivit! Your [expense](https://opencollective.com/ifcjs/expenses/105043) has been approved!

[2022-11-01 16:13] BSchafer01 commented on #222
::done

[2022-11-01 16:13] BSchafer01 commented on #224
::done

[2022-11-01 16:14] BSchafer01 commented on #183
::done

[2022-11-01 16:14] BSchafer01 commented on #117
::done

[2022-11-01 16:40] agviegas commented on #222
::done

[2022-11-01 16:41] agviegas commented on #222
### 🟢🟢🟢

Hi, @BSchafer01! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).